<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <th:block th:include="fragments/common"></th:block>
    <link th:href="@{/css/manager-find-select.css}" rel="stylesheet">
    <script th:src="@{/js/manager-find-select.js}"></script>
    <link th:href="@{/css/mypage.css}" rel="stylesheet">


</head>
<body>


<!-- 헤더 부분 -->
<div th:insert="~{/fragments/header.html}"></div>

<!-- 배너 부분 -->
<section class="banner2-area">
    <div class="container">
        <div class="row fullscreen align-items-center">
            <div class="col-lg-10">
                <div class="banner2-content">
                    <h1 style="font-weight: bold; margin-left: 94px;">Manager</h1>
                    <br>
                    <p style="color:white; margin-left: 100px;">레벨업의 매니저 공간입니다.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container" style="border-top: 1px solid lightgray; margin-top: 15px;">
    <div class="title-box">
        <button onclick="location.href='/manager/manager-find-select'" style="background-color: #0CC291;">펀딩조회</button>
        <button onclick="location.href='/manager/manager-aud'">펀딩심사</button>
        <button onclick="location.href='/manager/manager-report'">신고처리</button>
        <button onclick="location.href='/manager/manager-notice'">공지사항</button>
        <button onclick="location.href='/manager/manager-inquiry'">문의사항</button>
        <button onclick="location.href='/manager/manager-calculate'">정산</button>
    </div>
    <div class="row">
        <table class="manager_table" border="0">
            <tr align="center" bgcolor="#0CC291">
                <td>펀딩 코드</td>
                <td>펀딩명</td>
                <td>달성률</td>
                <td>상태</td>
                <td>시작일</td>
                <td>종료일</td>
            </tr>
            <tr align="center" th:each="funding: ${fundingManagerList}">
                <td>
                    <a th:text="${funding.fndCode}" th:href="@{|/manager/manager-find-select/${funding.fndCode}|}"></a>
                </td>
                <td>
                    <a th:text="${funding.fndName}" th:href="@{|/manager/manager-find-select/${funding.fndCode}|}"></a>
                </td>
                <td>
                    <a th:text="${funding.successAmt}"
                       th:href="@{|/manager/manager-find-select/${funding.fndCode}|}"></a>
                </td>
                <td>
                    <a th:text="${funding.fndPrgStat}"
                       th:href="@{|/manager/manager-find-select/${funding.fndCode}|}"></a>
                </td>
                <td>
                    <a th:text="${funding.fndEndDt}" th:href="@{|/manager/manager-find-select/${funding.fndCode}|}"></a>
                </td>
                <td>
                    <a th:text="${funding.fndEndDt}" th:href="@{|/manager/manager-find-select/${funding.fndCode}|}"></a>
                </td>
            </tr>
        </table>


        <div class="paging">
            <!-- Icon은 fontawesome에서 가져왔습니다. -->
            <i class="fa-solid fa-angles-left" id="first_page"></i>
            <i class="fa-solid fa-angle-left" id="prev_page"></i>
            <div class="pages">
                <span class="active">1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>7</span>
                <span>8</span>
                <span>9</span>
                <span>10</span>
            </div>
            <i class="fa-solid fa-angle-right" id="next_page"></i>
            <i class="fa-solid fa-angles-right" id="last_page"></i>
        </div>


    </div>
</div>
</div>
</div>
</div>

<!-- Features Area -->
<section class="features-area">
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</section>
</div>

<div th:insert="~{/fragments/footer.html}"></div>

</body>
</html>