<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>

    <th:block th:include="fragments/common"></th:block>
    <link th:href="@{/css/manager-notice.css}" rel="stylesheet">
    <script th:src="@{/js/manager-notice.js}"></script>
    <link th:href="@{/css/mypage.css}" rel="stylesheet">

</head>
<body>



<div id="notice-modal" class="modal display-none">
    <div class="open-modal">
        <div class="modal-content">
            <span id="close-btn">&times;</span>
            <h4>공지사항</h4>
            <div class="notice-content">
                <div class="notice-header">
                    <label>제목:</label>
                    <span class="text-box" id="modal-title"></span>
                </div>
                <div class="notice-header">
                    <label >작성날짜:</label>
                    <span class="text-box" id="modal-date"></span>
                </div>
                <div class="contents">
                    <div class="contract">
                        <label >내용:</label>
                        <div class="text" id="modal-content"></div>
                    </div>
                </div>
                <div class="modal-button" style="justify-content: center;">
                    <button id="delete-btn">삭제하기</button>
                    <button id="update-btn">수정하기</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>