<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <th:block th:include="fragments/common"></th:block>
    <link th:href="@{/css/manager-inquiry.css}" rel="stylesheet">
    <script th:src="@{/js/manager-inquiry.js}"></script>

</head>
<body>

<!-- 헤더 부분 -->
<div th:insert="~{/fragments/header.html}"></div>

<!-- 배너 부분 -->
<section class="banner2-area">
    <div class="container">
        <div class="row fullscreen align-items-center">
            <div class="col-lg-10">
                <div class="banner2-content">
                    <h1 style="font-weight: bold; margin-left: 94px;">Manager</h1>
                    <br>
                    <p style="color:white; margin-left: 100px;">레벨업의 매니저 공간입니다.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container" style="border-top: 1px solid lightgray; margin-top: 15px;">
    <div class="title-box">
        <button onclick="location.href='/manager/manager-find-select'">펀딩조회</button>
        <button onclick="location.href=''">펀딩심사</button>
        <button onclick="location.href='/manager/manager-report'">신고처리</button>
        <button onclick="location.href='/manager/manager-notice'">공지사항</button>
        <button onclick="location.href='/manager/manager-inquiry'" style="background-color: #0CC291;">문의사항</button>
        <button onclick="location.href='/manager/manager-calculate'">정산</button>
    </div>
    <div class="row">
        <table class="manager_table" border="0">
            <tr align="center" bgcolor="#0CC291">
                <td>문의 코드</td>
                <td>문의 제목</td>
                <td>문의 처리 여부</td>
                <td>문의 등록일</td>
            </tr>
            <tr align="center">
                <td>Q-001</td>
                <td>문의합니다. 문의합니다.1</td>
                <td>답변완료</td>
                <td>2023-01-01</td>
            </tr>
            <tr align="center">
                <td>Q-002</td>
                <td>문의합니다. 문의합니다.2</td>
                <td>답변완료</td>
                <td>2023-03-04</td>
            </tr>
            <tr align="center">
                <td>Q-003</td>
                <td>문의합니다. 문의합니다.3</td>
                <td>답변완료</td>
                <td>2023-03-04</td>
            </tr>
            <tr align="center">
                <td>Q-004</td>
                <td>문의합니다. 문의합니다.4</td>
                <td>답변완료</td>
                <td>2023-03-04</td>
            </tr>
            <tr align="center">
                <td>Q-005</td>
                <td>문의합니다. 문의합니다.5</td>
                <td>답변완료</td>
                <td>2023-03-04</td>
            </tr>
            <tr align="center">
                <td>Q-006</td>
                <td>문의합니다. 문의합니다.6</td>
                <td>답변완료</td>
                <td>2023-03-04</td>
            </tr>
            <tr align="center">
                <td>Q-007</td>
                <td>문의합니다. 문의합니다.7</td>
                <td>답변완료</td>
                <td>2023-03-04</td>
            </tr>
            <tr align="center">
                <td>Q-008</td>
                <td>문의합니다. 문의합니다.8</td>
                <td>답변완료</td>
                <td>2023-03-04</td>
            </tr>
            <tr align="center">
                <td>Q-009</td>
                <td>문의합니다. 문의합니다.9</td>
                <td>답변완료</td>
                <td>2023-03-04</td>
            </tr>
            <tr align="center">
                <td>Q-010</td>
                <td>문의합니다. 문의합니다.10</td>
                <td>답변완료</td>
                <td>2023-03-04</td>
            </tr>
        </table>


        <div class="paging">
            <!-- Icon은 fontawesome에서 가져왔습니다. -->
            <i class="fa-solid fa-angles-left" id="first_page"></i>
            <i class="fa-solid fa-angle-left" id="prev_page"></i>
            <div class="pages">
                <span class="active">1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>7</span>
                <span>8</span>
                <span>9</span>
                <span>10</span>
            </div>
            <i class="fa-solid fa-angle-right" id="next_page"></i>
            <i class="fa-solid fa-angles-right" id="last_page"></i>
        </div>

        <!-- 공지사항 내용을 보여줄 모달창 -->
        <div id="inquiry-modal" class="modal">
            <div class="modal-content">
                <span id="close-btn">&times;</span>  <!-- x를 나타내는 문자유니코드 U+00D7 -->
                <h4>문의하기</h4>
                <div class="inquiry-content">
                    <div class="inquiry-header">
                        <label style="margin-top: 30px;">펀딩 코드</label>
                        <span class="text-box">F-001</span>
                        <label style="margin-top: 30px;">작성자</label>
                        <span class="text-box">user01</span>
                        <label style="margin-top: 30px;">제목</label>
                        <span class="text-box">심사 반려에 대한 보충 자료 전달의 건</span>
                        <label style="margin-top: 30px;">작성날짜</label>
                        <span class="text-box" id="text-block">2024-02-27</span><br>
                        <label style="margin-top: 30px;">첨부파일</label>
                        <span class="text-box"> 📷 업로드</span>
                    </div>

                    <div class="contents">
                        <div class="contract">
                            <label id="title">내용</label>
                            <div class="text">
                                제 펀딩 아이디어는 우주 최강의 울트라 초고효율 펀딩입니다.
                                하기 추가 내용을 확인하시어 다시 심사해주시면 감사하겠습니다.

                                썸네일은 첨부파일 soccerball 확인
                                가격은 100,000원이 아닌 80,000원으로 변경
                                펀딩 설명은 아래와 같이 변경
                                “아이 귀찮아 그냥 후원해줘. 나 열심히 만들어볼테니까 믿고 후원. 나믿후”
                                -> “정년퇴직하신 시니어분들이 직접 수집하신 페플라스틱 뚜껑을 태양풍에 건조해서 만든 알록달록 액자로 탄생한 전지전능한 울트라 스페셜 유어 온니 픽처 프레임”
                            </div>
                            <label id="send-title">답변</label>
                            <div class="send-text">
                                김자바님이 작성하신 정보가 문의답변 전달드립니다.

                                ~~~~

                                ~~~~~~

                                ~~~~~~~~~

                                감사합니다.
                            </div>
                            <div class="email-container">
                                <label for="email-input" style="font-weight: bold; margin-left: 20px; margin-right: 20px;">전송 메일</label>
                                <input id="email-input" type="text" placeholder="이메일을 입력하세요">
                                <button id="send-btn">발송</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features Area -->
<section class="features-area">
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</section>
</div>

<div th:insert="~{/fragments/footer.html}"></div>

</body>
</html>