<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>

    <th:block th:include="fragments/common"></th:block>
    <link th:href="@{/css/manager-notice.css}" rel="stylesheet">
    <link th:href="@{/css/common/manager-modal.css}" rel="stylesheet">
    <script th:src="@{/js/manager-notice.js}"></script>
    <link th:href="@{/css/mypage.css}" rel="stylesheet">

</head>
<body>

<!-- 헤더 부분 -->
<div th:insert="~{/fragments/header.html}"></div>

<!-- 배너 부분 -->
<section class="banner2-area">
    <div class="container">
        <div class="row fullscreen align-items-center">
            <div class="col-lg-10">
                <div class="banner2-content">
                    <h1 style="font-weight: bold; margin-left: 94px;">Manager</h1>
                    <br>
                    <p style="color:white; margin-left: 100px;">레벨업의 매니저 공간입니다.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container" style="border-top: 1px solid lightgray; margin-top: 15px;">
    <div class="title-box">
        <button onclick="location.href='/manager/manager-find-select'">펀딩조회</button>
        <button onclick="location.href=''">펀딩심사</button>
        <button onclick="location.href='/manager/manager-report'">신고처리</button>
        <button onclick="location.href='/manager/manager-notice'" style="background-color: #0CC291;">공지사항</button>
        <button onclick="location.href='/manager/manager-inquiry'">문의사항</button>
        <button onclick="location.href='/manager/manager-calculate'">정산</button>
    </div>
    <div class="row">
        <table class="manager_table" border="0">
            <tr align="center" bgcolor="#0CC291" style="font-weight: bold">
                <td>공지 코드</td>
                <td>공지 제목</td>
                <td>공지사항 작성일</td>
            </tr>
            <tr th:each="notice : ${noticeList}" align="center">
                <td>
                    <!-- 공지 코드를 클릭할 때 해당 공지에 대한 모달 창 열기 -->
                    <a style="color:black; cursor:pointer;" th:text="${notice.ntcCode}" onclick="openModal(this)">${notice.ntcCode}</a>
                </td>
                <td th:text="${notice.ntcTitle}"></td>
                <td th:text="${notice.ntcInsertDt}"></td>
            </tr>
        </table>
    </div>


        <button type="button" id="insert-btn" data-toggle="modal" data-target="insert-modal" style="font-weight: bold">신규등록</button>

        <div id="insert-modal" class="insert-modal">
            <div class="insert-modal-content" style="border: none;">
                <span id="close-insert-btn" style="margin-right: -450px; margin-top: -250px">&times;</span>  <!-- x를 나타내는 문자유니코드 U+00D7 -->
                    <form th:action="@{/manager/insert-notice}" method="post">
                    <h4>신규 등록</h4>
                    <div class="notice-content">
                        <div class="notice-header">
                            <label id="modal-title" style="margin-bottom: -80px; margin-top: 30px; margin-left: -415px">제목</label>
                            <input type="text" id="insert-title" class="text-box"  name="ntcTitle"><br>
                        </div>
                        <div class="contents">
                            <div class="contract">
                                <label id="insert-text" style="margin-bottom: -80px; margin-top: 30px; margin-left: -415px">내용</label>
                                <textarea style="margin-left: 10px" id="insert-content" class="text" name="ntcCont"></textarea>
                            </div>
                        </div>
                        <p id="current-time" style="font-size: 12px; margin-left: -340px">현재 시간: <span id="current-time-value"></span></p>
                        <button type="submit" id="insert-confirm-btn" style="width: 120px">등록하기</button>
                    </div>
                    </form>
            </div>
        </div>


        <div class="paging">
            <!-- Icon은 fontawesome에서 가져왔습니다. -->
            <i class="fa-solid fa-angles-left" id="first_page"></i>
            <i class="fa-solid fa-angle-left" id="prev_page"></i>
            <div class="pages">
                <span class="active">1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>7</span>
                <span>8</span>
                <span>9</span>
                <span>10</span>
            </div>
            <i class="fa-solid fa-angle-right" id="next_page"></i>
            <i class="fa-solid fa-angles-right" id="last_page"></i>
        </div>

<!-- 공지사항 내용을 보여줄 모달창-->


        <div id="notice-modal" class="modal" th:each="notice : ${noticeList}">
            <div class="open-modal">
                <div class="modal-content2">
                    <span id="close-btn2">&times;</span>
                    <h4 style="margin-left: 225px">NOTICE</h4>
                    <div class="notice-content">

                        <div class="notice-header2">
                            <label for="ntcTitle" style="margin-top: 15px;">제목</label>
                            <textarea th:text="${notice.ntcTitle}" type="text" id="ntcTitle" class="text-box2" name="ntcTitle"></textarea><br>
                            <label for="modal-date2" style="margin-top: 20px;">작성날짜</label>
                            <textarea th:text="${notice.ntcInsertDt}" type="text" id="modal-date2" class="text-box2" name="ntcDate" readonly/><br>
                        </div>

                        <div class="contents2">
                            <div class="contract2">
                                <label for="ntcCont" id="content" style="margin-top: 20px;">내용</label>
                                <textarea th:text="${notice.ntcCont}" type="text" id="ntcCont" class="text-box3" name="ntcCont"></textarea>
                            </div>
                        </div>
                        <div class="modal-button2" style="margin-left: 150px; margin-top: 20px;">
                            <button class="update-btn" id="update-btn">수정하기</button>

                            <button class="delete-btn" id="delete-btn">삭제하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Features Area -->
<section class="features-area">
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</section>
</div>

<div th:insert="~{/fragments/footer.html}"></div>

</body>
</html>




