<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link th:href="@{/css/manager-calculate.css}" rel="stylesheet">
    <th:block th:include="fragments/common"></th:block>
    <link th:href="@{/css/mypage.css}" rel="stylesheet">


</head>
<body>

<!-- 헤더 부분 -->
<div th:insert="~{/fragments/header.html}"></div>

<!-- 배너 부분 -->
<section class="banner2-area">
    <div class="container">
        <div class="row fullscreen align-items-center">
            <div class="col-lg-10">
                <div class="banner2-content">
                    <h1 style="font-weight: bold; margin-left: 94px;">Manager</h1>
                    <br>
                    <p style="color:white; margin-left: 100px;">레벨업의 매니저 공간입니다.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container" style="border-top: 1px solid lightgray; margin-top: 15px;">
    <div class="title-box">
        <button onclick="location.href='/manager/manager-find-select'">펀딩조회</button>
        <button onclick="location.href='/manager/manager-aud'">펀딩심사</button>
        <button onclick="location.href='/manager/manager-report'">신고처리</button>
        <button onclick="location.href='/manager/manager-notice'">공지사항</button>
        <button onclick="location.href='/manager/manager-inquiry'">문의사항</button>
        <button onclick="location.href='/manager/manager-calculate'" style="background-color: #0CC291;">정산</button>
    </div>
    <div class="row">
        <table class="manager_table" border="0">
            <tr align="center" bgcolor="#0CC291">
                <td>펀딩 코드</td>
                <td>펀딩명</td>
                <td>목표금액</td>
                <td>달성액</td>
                <td>수수료액</td>
                <td>정산여부</td>
            </tr>
            <tr align="center">
                <td>F-001</td>
                <td>청바지를 활용한 슬리퍼1</td>
                <td>3,000,000</td>
                <td>4,000,000</td>
                <td>200,000</td>
                <td>Y</td>
            </tr>
            <tr align="center">
                <td>F-002</td>
                <td>청바지를 활용한 슬리퍼2</td>
                <td>3,000,000</td>
                <td>4,000,000</td>
                <td>200,000</td>
                <td>Y</td>
            </tr>
            <tr align="center">
                <td>F-003</td>
                <td>청바지를 활용한 슬리퍼3</td>
                <td>3,000,000</td>
                <td>4,000,000</td>
                <td>200,000</td>
                <td>Y</td>
            </tr>
            <tr align="center">
                <td>F-004</td>
                <td>청바지를 활용한 슬리퍼4</td>
                <td>3,000,000</td>
                <td>4,000,000</td>
                <td>200,000</td>
                <td>Y</td>
            </tr>
            <tr align="center">
                <td>F-005</td>
                <td>청바지를 활용한 슬리퍼5</td>
                <td>3,000,000</td>
                <td>4,000,000</td>
                <td>200,000</td>
                <td>Y</td>
            </tr>
            <tr align="center">
                <td>F-006</td>
                <td>청바지를 활용한 슬리퍼6</td>
                <td>3,000,000</td>
                <td>4,000,000</td>
                <td>200,000</td>
                <td>Y</td>
            </tr>
            <tr align="center">
                <td>F-007</td>
                <td>청바지를 활용한 슬리퍼</td>
                <td>3,000,000</td>
                <td>4,000,000</td>
                <td>200,000</td>
                <td>Y</td>
            </tr>
            <tr align="center">
                <td>F-008</td>
                <td>청바지를 활용한 슬리퍼8</td>
                <td>3,000,000</td>
                <td>4,000,000</td>
                <td>200,000</td>
                <td>Y</td>
            </tr>
            <tr align="center">
                <td>F-009</td>
                <td>청바지를 활용한 슬리퍼9</td>
                <td>3,000,000</td>
                <td>4,000,000</td>
                <td>200,000</td>
                <td>Y</td>
            </tr>
            <tr align="center">
                <td>F-010</td>
                <td>청바지를 활용한 슬리퍼10</td>
                <td>3,000,000</td>
                <td>4,000,000</td>
                <td>200,000</td>
                <td>Y</td>
            </tr>
        </table>


        <div class="paging">
            <!-- Icon은 fontawesome에서 가져왔습니다. -->
            <i class="fa-solid fa-angles-left" id="first_page"></i>
            <i class="fa-solid fa-angle-left" id="prev_page"></i>
            <div class="pages">
                <span class="active">1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>7</span>
                <span>8</span>
                <span>9</span>
                <span>10</span>
            </div>
            <i class="fa-solid fa-angle-right" id="next_page"></i>
            <i class="fa-solid fa-angles-right" id="last_page"></i>
        </div>

        <!-- 신고서 내용을 보여줄 모달창 -->
        <div id="report-modal" class="modal">
            <div class="modal-content">
                <h4>신고서 상세</h4>
                <div class="report-content">
                    <div class="report-header">
                        <label style="margin-top: 30px; margin-left: 10px;">신고번호</label>
                        <span class="text-box" style="width: 250px;">R-001</span>
                        <label style="margin-top: 30px; margin-right: 20px;">펀딩번호</label>
                        <span class="text-box" style="width: 250px;">F-001</span>
                        <label style="margin-top: 30px;">신고아이디</label>
                        <span class="text-box">user01</span>
                        <label style="margin-top: 30px;">제목</label>
                        <span class="text-box" id="text-block">상품이 못생겨서 싫어요</span><br>
                        <label style="margin-top: 30px;">작성날짜</label>
                        <span class="text-box">2023-05-09</span>
                    </div>
                    <div class="contents">
                        <div class="contract">
                            <label id="title">내용</label>
                            <div class="text">
                                용이 너무 못생겨서 신고합니다.
                                정말 못생겼어요,,,
                                비속어 비속어
                                속이 빈 강정 같다고요,,
                                이런 후원 선물이라니 실망입니다.
                                지렁이 지렁이 지렁이 지렁이
                                ㅎ
                                ㅎ
                                ㅎ
                                ㅎ
                                ㅎ
                                ㅎ
                            </div>
                        </div>
                    </div>
                    <div class="modal-button">
                        <strong>신고 처리 상태</strong>
                        <label><input type="radio" name="report" value="A"> 승인</label>
                        <label><input type="radio" name="report" value="R"> 반려</label>
                        <button id="cancel-btn">취소</button>
                        <button id="approval-btn">처리</button>

                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features Area -->
<section class="features-area">
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</section>
</div>

<div th:insert="~{/fragments/footer.html}"></div>

</body>
</html>