<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>

    <th:block th:include="fragments/common"></th:block>
    <link th:href="@{/css/manager-notice.css}" rel="stylesheet">
    <link th:href="@{/css/common/manager-modal.css}" rel="stylesheet">
    <script th:src="@{/js/manager-notice.js}"></script>
    <link th:href="@{/css/mypage.css}" rel="stylesheet">

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</head>
<body>

<!-- 헤더 부분 -->
<div th:insert="~{/fragments/header.html}"></div>


<span sec:authorize="hasAnyAuthority('세터')">
<section class="banner2-area">
    <div class="container">
        <div class="row fullscreen align-items-center">
            <div class="col-lg-10">
                <div class="banner2-content">
                    <h1 style="font-weight: bold; margin-left: 94px;">공지사항</h1>
                    <br>
                    <p style="color:white; margin-left: 100px;">레벨업의 공지사항을 알려드립니다.</p>
                </div>
            </div>
        </div>
    </div>
</section>
</span>

<span sec:authorize="hasAnyAuthority('게터')">
<section class="banner2-area">
    <div class="container">
        <div class="row fullscreen align-items-center">
            <div class="col-lg-10">
                <div class="banner2-content">
                    <h1 style="font-weight: bold; margin-left: 94px;">공지사항</h1>
                    <br>
                    <p style="color:white; margin-left: 100px;">레벨업의 공지사항을 알려드립니다.</p>
                </div>
            </div>
        </div>
    </div>
</section>
</span>


<span sec:authorize="hasAnyAuthority('매니저')">
<!-- 배너 부분 -->
<section class="banner2-area">
    <div class="container">
        <div class="row fullscreen align-items-center">
            <div class="col-lg-10">
                <div class="banner2-content">
                    <h1 style="font-weight: bold; margin-left: 94px;">Manager</h1>
                    <br>
                    <p style="color:white; margin-left: 100px;">레벨업의 매니저 공간입니다.</p>
                </div>
            </div>
        </div>
    </div>
</section>
</span>

<div class="container" style="border-top: 1px solid lightgray; margin-top: 15px;">
    <span sec:authorize="hasAnyAuthority('매니저')">
    <div class="title-box">
        <button onclick="location.href='/manager/manager-find-select'">펀딩조회</button>
        <button onclick="location.href='/manager/manager-audit'">펀딩심사</button>
        <button onclick="location.href='/manager/manager-report'">신고처리</button>
        <button onclick="location.href='/manager/manager-notice'" style="background-color: #0CC291;">공지사항</button>
        <button onclick="location.href='/manager/manager-inquiry'">문의사항</button>
        <button onclick="location.href='/manager/manager-calculate'">정산</button>
    </div>
    </span>
    <div class="row">
        <table class="manager_table" border="0">
            <tr align="center" bgcolor="#0CC291" style="font-weight: bold">
                <td>공지 코드</td>
                <td>공지 제목</td>
                <td>공지사항 작성일</td>
            </tr>
            <tr th:each="notice : ${noticeList}" align="center">
                <td>
                    <!-- 공지 코드를 클릭할 때 해당 공지에 대한 모달 창 열기 -->
                    <a style="color:black; cursor:pointer;" th:text="${notice.ntcCode}" onclick="openModal(this)">${notice.ntcCode}</a>
                </td>
                <td th:text="${notice.ntcTitle}"></td>
                <td th:text="${notice.ntcInsertDt}"></td>
            </tr>
        </table>
    </div>

    <span sec:authorize="hasAnyAuthority('매니저')">
        <button type="button" id="insert-btn" data-toggle="modal" data-target="insert-modal" style="font-weight: bold">신규등록</button>
        </span>

    <div id="insert-modal" class="insert-modal">
        <div class="insert-modal-content" style="border: none;">
            <span id="close-insert-btn" style="margin-right: -450px; margin-top: -250px">&times;</span>  <!-- x를 나타내는 문자유니코드 U+00D7 -->
            <form th:action="@{/manager/insert-notice}" method="post">
                <h4>신규 등록</h4>
                <div class="notice-content">
                    <div class="notice-header">
                        <label id="modal-title" style="margin-bottom: -80px; margin-top: 30px; margin-left: -415px">제목</label>
                        <input type="text" id="insert-title" class="text-box"  name="ntcTitle"><br>
                    </div>
                    <div class="contents">
                        <div class="contract">
                            <label id="insert-text" style="margin-bottom: -80px; margin-top: 30px; margin-left: -415px">내용</label>
                            <textarea style="margin-left: 10px" id="insert-content" class="text" name="ntcCont"></textarea>
                        </div>
                    </div>
                    <p id="current-time" style="font-size: 12px; margin-left: -340px">현재 시간: <span id="current-time-value"></span></p>
                    <button type="submit" id="insert-confirm-btn" style="width: 120px">등록하기</button>
                </div>
            </form>
        </div>
    </div>

    <div>
        <ul class="pagination">
            <li th:if="${totalPage > 0}">
                <a th:href="@{/manager/manager-notice(page=1)}">First</a>
            </li>
            <li th:each="p : ${#numbers.sequence(1, totalPage)}" th:class="${page == p ? 'active' : ''}">
                <a th:href="@{/manager/manager-notice(page=${p})}" th:text="${p}"></a>
            </li>
            <li th:if="${totalPage > 1}">
                <a th:href="@{/manager/manager-notice(page=${totalPage})}">Last</a>
            </li>
        </ul>
    </div>

    <!-- 공지사항 내용을 보여줄 모달창-->


    <div id="notice-modal" class="modal" th:each="notice : ${noticeList}">
        <div class="open-modal">
            <div class="modal-content2">
                <span id="close-btn2">&times;</span>
                <h4 style="margin-left: 225px">NOTICE</h4>
                <div class="notice-content">

                    <div class="notice-header2">
                        <label for="ntcTitle" style="margin-top: 15px;">제목</label>
                        <textarea th:text="${notice.ntcTitle}" type="text" id="ntcTitle" class="text-box2" name="ntcTitle"></textarea><br>
                        <label for="modal-date2" style="margin-top: 20px;">작성날짜</label>
                        <textarea th:text="${notice.ntcInsertDt}" type="text" id="modal-date2" class="text-box2" name="ntcDate" readonly/><br>
                    </div>

                    <div class="contents2">
                        <div class="contract2">
                            <label for="ntcCont" id="content" style="margin-top: 20px;">내용</label>
                            <textarea th:text="${notice.ntcCont}" type="text" id="ntcCont" class="text-box3" name="ntcCont"></textarea>
                        </div>
                    </div>
                    <span sec:authorize="hasAnyAuthority('매니저')">
                        <div class="modal-button2" style="margin-left: 150px; margin-top: 20px;">
                            <button class="update-btn" id="update-btn">수정하기</button>

                            <button class="delete-btn" id="delete-btn">삭제하기</button>
                        </div>
                        </span>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<!-- Features Area -->
<section class="features-area">
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</section>
</div>

<div th:insert="~{/fragments/footer.html}"></div>

</body>
</html>
