<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link th:href="@{/css/user-find-id.css}" rel="stylesheet">
    <link th:href="@{/css/modal.css}" rel="stylesheet">

    <th:block th:insert="~{fragments/common}"></th:block>

    <script th:src="@{/js/user-find-password.js}"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</head>

<body>
<div th:insert="~{/fragments/header.html}"></div>

<section class="banner">
    <div class="user-banner">
        <img src="/img/id.png" alt="유저 배너">
        <p>비밀번호 재설정</p>
    </div>
</section>
<hr>

<section class="find-id">
    <div class="col-lg-8">
        <div class="col-lg-1.5 col-md-1.5 col-sm-1.5">
            <!-- Password Input -->
            <form th:action="@{/content/user/updatePw}" method="post" onsubmit="return checkForm()">
            <textarea th:text="${user.userId}" id="userId" name="userId" class="input" placeholder="아이디" style="display: none"/>
            <div class="password" style="margin-top: 10px;">
                <div class="label">비밀번호</div>
                <input name="userPw" type="password" id="userPw" class="input" placeholder="비밀번호를 입력하세요">
            </div>
            <div class="password" style="margin-top: 10px;">
                <div class="label" >비밀번호 확인</div>
                <input type="password" id="userPwCheck" class="input" placeholder="비밀번호를 입력하세요">
                <!-- Password Match Message -->
                <div id="passwordMatch" style="color: red; margin-left: 80px;"></div>
            </div>
        </div>
        <button type="submit" id="updatePw-btn" name="updatePw-btn" class="btn-id" style="margin-top: 30px; font-size: 15px;">재설정</button>
        </form>
    </div>
</section>

<div th:insert="~{/fragments/footer.html}"></div>

</body>

</html>
