<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <!--  CSS 경로  -->
    <link th:href="@{/css/mypage.css}" rel="stylesheet">
    <link th:href="@{/css/new-funding-complete.css}" rel="stylesheet">

    <!--  fragments 경로  -->
    <th:block th:include="~{fragments/common}"></th:block>

    <!--  JS 경로  -->
    <script th:src="@{/js/new-funding-complete.js}"></script>

    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

</head>

<body>
<div th:insert="~{/fragments/header.html}"></div>

<!-- 배너 부분 -->
<section class="banner2-area">
    <div class="container">
        <div class="row fullscreen align-items-center">
            <div class="col-lg-10">
                <div class="banner2-content">
                    <h1 style="font-weight: bold; margin-left: 94px;">마이페이지</h1>
                    <br>
                    <p style="color:white; margin-left: 100px;">마이페이지</p>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container" style="border-top: 1px solid lightgray; margin-top: 15px;">
    <br>
    <div class="row">
        <div class="col-lg-3">

            <div th:insert="~{/fragments/sidebar.html}"></div>

        </div>

        <div class="col-lg-8">

            <a style="margin-bottom: 20px; font-size: 18px;">나의 펀딩 내역 &gt; <b>펀딩 신규 등록</b></a>

            <div class="col-lg-1.5 col-md-1.5 col-sm-1.5">
                <div class="contents">
                    <img src="/img/icons/green-check-icon.svg" id="image" alt="완료 버튼">
                    <h3>등록이 완료되었습니다.<br>감사합니다.</h3>
                    <div class="button-group">
                        <button class="go-to-funding-history-btn" onclick="location.href='/content/mypage/setter-funding-history'">펀딩 내역 조회</button>
                    </div>
                    <section class="features-area">
                        <div class="container">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="features-area">
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</section>

<div th:insert="~{/fragments/footer.html}"></div>


</body>
</html>