<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.revelup.funding.model.dao.FundingManagerMapper">

    <resultMap type="com.revelup.funding.model.dto.FundingInfoDTO" id="selectAllFundingManager">
        <id property="fndCode" column="FND_CODE"/>
        <result property="userId" column="USER_ID"/>
        <result property="fndName" column="FND_NAME"/>
        <result property="fndEndDt" column="FND_END_DT"/>
        <result property="goalAmt" column="GOAL_AMT"/>
        <result property="fndDescr" column="FND_DESCR"/>
        <result property="successAmt" column="SUCCESS_AMT"/>
        <result property="fndDelYn" column="FND_DEL_YN"/>
        <result property="fndPrgStat" column="FND_PRG_STAT"/>
    </resultMap>

    <!-- 매니저 페이지 내 전체 펀딩 리스트 조회 -->
    <select id="selectAllFundingManager" resultMap="selectAllFundingManager">
        SELECT *
        FROM FND_INFO
        ORDER BY FND_CODE desc;
    </select>

</mapper>