<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.revelup.funding.model.dao.FundingMapper">

    <resultMap type="com.revelup.funding.model.dto.FundingInfoDTO" id="selectAllFunding">
        <id property="fndCode" column="FND_CODE"/>
        <result property="userId" column="USER_ID"/>
        <result property="fndName" column="FND_NAME"/>
        <result property="fndEndDt" column="FND_END_DT"/>
        <result property="goalAmt" column="GOAL_AMT"/>
        <result property="fndDescr" column="FND_DESCR"/>
        <result property="successAmt" column="SUCCESS_AMT"/>
        <result property="fndDelYn" column="FND_DEL_YN"/>
        <result property="fndPrgStat" column="FND_PRG_STAT"/>
    </resultMap>

    <resultMap type="com.revelup.funding.model.dto.FundingInfoDTO" id="findByCode">
        <id property="fndCode" column="FND_CODE"/>
        <result property="fndName" column="FND_NAME"/>
        <result property="giftPrice" column="GIFT_PRICE"/>
    </resultMap>

    <resultMap type="com.revelup.funding.model.dto.FundingFileDTO" id="findFile">
        <id property="fileCode" column="FILE_CODE"/>
        <result property="fndCode" column="FND_CODE"/>
        <result property="fndFileLoc" column="FND_FILE_LOC"/>
        <result property="fndOrgFile" column="FND_ORG_FILE"/>
        <result property="fndSaveFile" column="FND_SAVE_FILE"/>
        <result property="fileDiv" column="FILE_DIV"/>
    </resultMap>

    <!-- 세터 정보 삽입 -->
    <insert id="insertSetterInfo" parameterType="com.revelup.funding.model.dto.SetterInfoDTO">
        INSERT INTO STTR_INFO (
                                USER_ID
                                , STTR_COMPANY
                                , STTR_NAME
                                , STTR_REGIST_NO
                                , STTR_BANK
                                , STTR_ACC_NO
                                , STTR_ACC_HOLDER
                    ) VALUES (
                                #{userId}
                                , #{sttrCompany}
                                , #{sttrName}
                                , #{sttrRegistNo}
                                , #{sttrBank}
                                , #{sttrAccNo}
                                , #{sttrAccHolder}
                             )
    </insert>

    <!-- 펀딩 정보 삽입 -->
    <insert id="insertFundingInfo" parameterType="com.revelup.funding.model.dto.FundingInfoDTO" useGeneratedKeys="true" keyProperty="fndCode">
        INSERT INTO FND_INFO (
                                USER_ID
                                , FND_NAME
                                , FND_END_DT
                                , GOAL_AMT
                                , FND_DESCR
                                , SUCCESS_AMT
                                , FND_DEL_YN
                                , FND_PRG_STAT
                                , FILE_ATTACHED
                  ) VALUES (
                                #{userId}
                                , #{fndName}
                                , #{fndEndDt}
                                , #{goalAmt}
                                , #{fndDescr}
                                , #{successAmt}
                                , 'N'
                                , 'L'
                                , #{fileAttached}
                             )
        <selectKey keyProperty="fndCode" order="AFTER" resultType="_int">
            <!-- 여러 사용자가 동시에 작업했어도, 내 커넥션에서 발생한 키값을 불러옴 -->
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- 펀딩 등록 파일 삽입 -->
    <!--    <insert id="insertFundingFileInfo" parameterType="com.revelup.funding.model.dto.FundingFileDTO">-->
    <!--        INSERT INTO FND_INSERT_FILE (-->
    <!--                                        FND_CODE-->
    <!--                                        , FND_FILE_LOC-->
    <!--                                        , FND_ORG_FILE-->
    <!--                                        , FND_SAVE_FILE-->
    <!--                                        , FILE_DIV-->
    <!--                            ) VALUES (-->
    <!--                                        1111-->
    <!--                                        , #{fndFileLoc}-->
    <!--                                        , #{fndOrgFile}-->
    <!--                                        , #{fndSaveFile}-->
    <!--                                        , #{fileDiv}-->
    <!--                                    )-->
    <!--    </insert>-->

    <!-- 세터 정보 파일 삽입 -->
    <!--    <insert id="insertSetterInfoFile" parameterType="com.revelup.funding.model.dto.SetterFileDTO">-->
    <!--        INSERT INTO STTR_INFO_FILE (-->
    <!--                                    USER_ID-->
    <!--                                    , SI_FILE_LOC-->
    <!--                                    , SI_ORG_FILE-->
    <!--                                    , SI_SAVE_FILE-->
    <!--                            ) VALUES (-->
    <!--                                    'test6'-->
    <!--                                    , #{siFileLoc}-->
    <!--                                    , #{siOrgFile}-->
    <!--                                    , #{siSaveFile}-->
    <!--        )-->
    <!--    </insert>-->

    <!-- Gift 정보 삽입 -->
    <insert id="insertGift" parameterType="com.revelup.funding.model.dto.GiftDTO">
        INSERT INTO GIFT (
                            FND_CODE
                            , GIFT_PRICE
                            , GIFT_NAME
                            , GIFT_PROD_QTY
                ) VALUES (
                            #{fndCode}
                            , #{giftPrice}
                            , #{giftName}
                            , #{giftProdQty}
                            )
    </insert>

    <!--전체 펀딩 리스트 조회 -->
    <select id="selectAllFunding" resultMap="selectAllFunding">
        SELECT *
        FROM FND_INFO
        ORDER BY FND_CODE desc;
    </select>

<!--    &lt;!&ndash; 조회수 업데이트 쿼리   &ndash;&gt;-->
<!--    <update id="updateViews" parameterType="int">-->
<!--        UPDATE FND_INFO-->
<!--        SET FND_VIEWS=FND_VIEWS+1-->
<!--        WHERE FND_CODE=#{FND_CODE}-->
<!--    </update>-->

    <!--    펀딩 코드로 검색하는 쿼리-->
    <select id="findByCode" resultMap="findByCode">
        SELECT fi.FND_CODE
               , fi.FND_NAME
               , gi.GIFT_PRICE
          FROM FND_INFO fi
          JOIN GIFT gi ON fi.FND_CODE = gi.FND_CODE
         WHERE fi.FND_CODE = #{fndCode}
    </select>

    <insert id="insertFile" parameterType="com.revelup.funding.model.dto.FundingFileDTO">
        INSERT INTO FND_INSERT_FILE (
                                    FND_CODE
                                    , FND_FILE_LOC
                                    , FND_ORG_FILE
                                    , FND_SAVE_FILE
                                    , FILE_DIV
                           ) VALUES (
                                    #{fndCode}
                                    , #{fndFileLoc}
                                    , #{fndOrgFile}
                                    , #{fndSaveFile}
                                    , 'R'
                                    )
    </insert>

    <select id="findFile" resultMap="findFile">
        SELECT *
          FROM FND_INSERT_FILE
         WHERE FND_CODE = #{fndCode}
    </select>


</mapper>