.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.insert-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: auto;
    border: none;
}

.insert-modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.insert-modal-content input,
.insert-modal-content textarea {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
}

.insert-modal-content textarea {
    height: 200px;
    resize: none; /* 텍스트 에어리어의 크기 조절 기능 비활성화 */
}

.insert-modal-content button {
    background-color: #0CC291;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
}

.insert-modal-content button:hover {
    background-color: #0AA87E;
}
