.row {
    padding-top:50px;
    display: flex;
    justify-content: center; /* 자식 요소 사이의 간격을 최대화하여 오른쪽 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    cursor: pointer;
}

.title-box button {
    background-color: #ccc;
    border: none;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition: background-color 0.3s;
    cursor: pointer;
    border-radius: 15px;  /* 모서리 둥글게 */
    margin-top: 30px;
    margin-right: 10px; /* 버튼 사이의 간격 설정 */
    width: 140px;
    height: 50px;
}

.title-box button:hover {
    background-color: #0CC291;
}

.manager_table {
    border-collapse: collapse;
    width: 100%; /* 테이블의 너비를 부모 요소의 너비에 맞춤 */
}

.manager_table td {
    padding: 1%;
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.text-box {
    margin-left: 10px;
    width: 80%;
}
#insert-btn {
    background-color: #0CC291;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    width: 120px;
    margin-left: 90%;
    border-radius: 10px;

}

#insert-title, #insert-date, #insert-content {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#insert-confirm-btn {
    background-color: #0CC291;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    width: 0%;
}

#insert-confirm-btn:hover {
    opacity: 0.8;
}

/* 페이징 처리 */
div.paging {
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

div.paging > i, div.paging > div.pages {
    margin: 0 10px;
}

div.paging > i, div.paging > div.pages > span {
    margin: 0 3px;
    cursor: pointer;
}

span.active {
    color: red;
    font-weight: bold;
}
