.banner2-area {
    position: relative; /* 포지션 컨텍스트로 설정 */
}
.check{
    margin-left: 40%;
    margin-top: 3%;
}
.product {
    position: absolute;
    bottom: -43%;
    transform: translateY(-50%);
    right: 20%;
    margin-right: 45%; /* 이미지 박스를 오른쪽으로 정렬 */
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    width: 300px; /* 섹션의 너비 조절 */
}

.image-box {
    margin-left: auto;
    border-radius: 5px; /* 이미지 모서리 둥글게 처리 */
    margin-right: 20%; /* 이미지를 오른쪽으로 3%만 이동 */
}

.image {
    max-width: 200%; /* 이미지 크기를 5% 키움 */
    height: auto;
}
.note {
    margin-top: 10%; /* 아래로 5%만 내리기 */
    font-size: 28px; /* 글자 크기를 16포인트로 설정 */
    margin-left: 49%;
}
.image-desc {
    text-align: left; /* 텍스트를 왼쪽으로 정렬 */
    margin-right: 25%; /* 이미지 박스를 오른쪽으로 정렬 */
}

.paybutton{
    margin-left: 25%; /* 이미지 박스를 오른쪽으로 정렬 */
    margin-top: 20%; /* 결제 버튼 위쪽 간격 추가 */
    bottom: 75%; /* 결제 버튼 위쪽 간격 추가 */
}

.form-paybutton {
    width: 15%; /* 결제 버튼 폭을 부모 요소에 맞게 설정 */
    padding: 10px 20px; /* 상하 10px, 좌우 20px 패딩 설정 */
    background-color: #0CC291; /* 버튼 기본 배경색 설정 */
    border-radius: 15px;  /* 모서리 둥글게 */
    border: 1px solid #035E0C; /* 버튼 테두리 설정 */
    cursor: pointer; /* 마우스 커서를 손가락 모양으로 변경 */
    color: #fff; /* 버튼 텍스트 색상 설정 */
    transition: background-color 0.3s ease; /* 호버 효과 전환 효과 설정 */
    margin-left: 40%; /* 이미지 박스를 오른쪽으로 정렬 */
    bottom: 75%; /* 결제 버튼 위쪽 간격 추가 */
}