<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <!-- Bootstrap CSS -->
    <link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/mypage.css}" rel="stylesheet">
    <link th:href="@{/css/new-funding-setter-info.css}" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
<div th:insert="~{/fragments/header.html}"></div>


<!-- 배너 부분 -->
<section class="banner2-area">
    <div class="container">
        <div class="row fullscreen align-items-center">
            <div class="col-lg-10">
                <div class="banner2-content">
                    <h1 style="font-weight: bold; margin-left: 94px;">마이페이지</h1>
                    <br>
                    <p style="color:white; margin-left: 100px;">마이페이지</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container" style="border-top: 1px solid lightgray; margin-top: 15px;">
    <br>
    <div class="row">
        <div class="col-lg-3">

            <div th:insert="~{/fragments/sidebar.html}"></div>

        </div>

        <div class="col-lg-8">
            <a style="margin-bottom: 300px; font-size: 18px;">나의 펀딩 내역 &gt; <b>펀딩 신규 등록</b></a>

            <div class="col-lg-1.5 col-md-1.5 col-sm-1.5">
                <p class="title" style="font-size: 14px; font-weight: bold; margin-top: 30px;">새로운 펀딩을 등록하기 위해 아래
                    정보를 입력해 주세요.</p>
                <div class="contents">
                    <h3><b>세터 정보</b></h3>
                    <div class="input-group">
                        <label for="regist-no">사업자 등록 번호(10자리)</label>
                        <div class="input-with-unit">
                            <input type="number" id="regist-no" placeholder="사업자 등록 번호">
                        </div>
                        <div id="error-message" class="error-message"></div>
                    </div>
                    <div class="input-group">
                        <label for="company-name">상호(법인명)</label>
                        <div>
                            <input type="text" id="company-name" placeholder="상호(법인명)">
                        </div>
                    </div>
                    <div class="input-group">
                        <label for="ceo-name">대표자명</label>
                        <div>
                            <input type="text" id="ceo-name" placeholder="대표자명">
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-group">
                <button class="back-button" onclick="location.href='/content/funding/insertFunding/new-funding-terms-of-use'">이전</button>
                <button class="next-button" onclick="location.href='/content/funding/insertFunding/new-funding-basic-info'">다음</button>
            </div>
            <section class="features-area">
                <div class="container">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </section>
        </div>

    </div>
</div>

<!-- Bootstrap JS -->

<div th:insert="~{/fragments/footer.html}"></div>

<script th:src="@{/js/new-funding-setter-info.js}"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>

