<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <!-- Bootstrap CSS -->
    <link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/mypage.css}" rel="stylesheet">
    <link th:href="@{/css/new-funding-gift-info.css}" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</head>

<body>
<div th:insert="~{/fragments/header.html}"></div>

<!-- 배너 부분 -->
<section class="banner2-area">
    <div class="container">
        <div class="row fullscreen align-items-center">
            <div class="col-lg-10">
                <div class="banner2-content">
                    <h1 style="font-weight: bold; margin-left: 94px;">마이페이지</h1>
                    <br>
                    <p style="color:white; margin-left: 100px;">마이페이지</p>
                </div>
            </div>

        </div>
    </div>
</section>


<div class="container" style="border-top: 1px solid lightgray; margin-top: 15px;">
    <br>
    <div class="row">
        <div class="col-lg-3">
            <!-- 왼쪽 사이드바 -->
            <div class="sidebar" style="font-size: 15px; color: #000; padding-top: 10px; padding-bottom: 10px;">
                <ul class="list">
                    <a style="font-weight: bold; font-size: 18px; background-color: rgb(240, 240, 240); display: block; padding: 10px; text-decoration: none;">내 정보</a>
                    <a th:href="@{/content/user/user-show.html}" class="sidebar-main" style="display: block; padding: 5px 10px; text-decoration: none;">나의 정보 조회</a>
                    <a th:href="@{/content/user/user-delete1}" class="sidebar-main" style="display: block; padding: 5px 10px; text-decoration: none;">회원 탈퇴</a>
                    <a style="font-weight: bold; font-size: 18px; background-color: rgb(240, 240, 240); display: block; padding: 10px; text-decoration: none;">나의 후원 내역</a>
                    <a href="" class="sidebar-main" style="display: block; padding: 5px 10px; text-decoration: none;">후원 내역 조회</a>
                    <a style="font-weight: bold; font-size: 18px; background-color: rgb(240, 240, 240); display: block; padding: 10px; text-decoration: none;">나의 펀딩 내역</a>
                    <a href="" class="sidebar-main" style="display: block; padding: 5px 10px; text-decoration: none;">펀딩 내역 조회</a>
                    <a th:href="@{/content/funding/insertFunding/new-funding-terms-of-use}" class="sidebar-main" style="display: block; padding: 5px 10px; text-decoration: none;">펀딩 신규 등록</a>
                    <a style="font-weight: bold; font-size: 18px; background-color: rgb(240, 240, 240); display: block; padding: 10px; text-decoration: none;">찜한 내역 관리</a>
                    <a th:href="@{/content/mypage/interest.html}" class="sidebar-main" style="display: block; padding: 5px 10px; text-decoration: none;">찜한 목록 조회</a>
                </ul>
            </div>
        </div>

        <div class="col-lg-8">

            <a style="margin-bottom: 20px; font-size: 18px;">나의 펀딩 내역 &gt; <b>펀딩 신규 등록</b></a>

            <div class="col-lg-1.5 col-md-1.5 col-sm-1.5">

                <p class="title" style="font-size: 14px; font-weight: bold; margin-top: 10px;">게터분들에게 제공할 선물을 입력해
                    주세요.</p>
                <div class="contents">
                    <div class="input-group">
                        <label for="gift-amount">선물금액</label>
                        <div class="input-with-unit">
                            <input type="number" id="gift-amount" placeholder="0">
                            <span id="currency-unit">원</span>
                        </div>
                        <div id="error-message" class="error-message"></div>
                    </div>
                    <div class="input-group">
                        <label for="gift-name">선물명</label>
                        <input type="text" id="gift-name" placeholder="예시) 장인이 폐이불을 재활용해 한땀 한땀 만든 에코백 1세트">
                    </div>
                    <div class="input-group">
                        <label for="gift-limit">제한 수량</label>
                        <div class="input-with-unit">
                            <input type="number" id="gift-limit" placeholder="0">
                            <span>개</span>
                        </div>
                    </div>
                    <div class="button-group">
                        <button class="back-button"
                                onclick="location.href='/content/funding/insertFunding/new-funding-story'">이전</button>
                        <button class="next-button"
                                onclick="location.href='/content/funding/insertFunding/new-funding-complete'">다음</button>
                    </div>
                    <section class="features-area">
                        <div class="container">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="features-area">
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</section>

<div th:insert="~{/fragments/footer.html}"></div>

<script th:src="@{/js/new-funding-gift-info.js}"></script>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>