<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <script src="/js/header.js"></script>
</head>

<body>
<div id="header">
    <!-- 헤더 부분 -->

    <header class="header_area sticky-header">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light main_box">
                <div class="container">
                    <a class="navbar-brand logo_h" th:href="@{/}"><img src="/img/logo.png" alt=""></a>

                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav">
                            <li class="nav-item submenu">
                                <a th:href="@{/}" class="nav-link" role="button">홈</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/content/funding/all-funding}" target="_blank">전체 제품</a></li>
                            <li><a class="nav-link" th:href="@{/manager/manager-notice}" id="moreDropdownLink">공지사항</a></li>
                        </ul>
                    </div>


                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent" style="margin-left: 600px;">

                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item" style="font-size: 12px; font-weight: bold;">

                                <span th:if="${#authorization.expression('isAuthenticated()')}">
                                    <a sec:authorize="hasAnyAuthority('매니저')" class="header-btn3" th:href="@{/content/user/user-show}">관리자페이지</a>
                                    <a sec:authorize="hasAnyAuthority('게터')" class="header-btn3" th:href="@{/content/user/user-show}">마이페이지</a>
                                    <a sec:authorize="hasAnyAuthority('세터')" class="header-btn3" th:href="@{/content/user/user-show}">마이페이지</a>
                                </span>
                                <span th:if="${#authorization.expression('isAnonymous()')}">
                                    <a class="header-btn2" th:href="@{/content/user/sign-up}">회원가입</a>
                                </span>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item" style="font-size: 12px; font-weight: bold;">
                                <span th:if="${#authorization.expression('isAuthenticated()')}">
                                    <a class="header-btn3" th:href="@{/user/logout}">로그아웃</a>
                                </span>
                                <span th:if="${#authorization.expression('isAnonymous()')}">
                                    <a class="header-btn2" th:href="@{/content/user/login}">로그인</a>
                                </span>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item" style="font-size: 12px; font-weight: bold; margin-left: -210px">
                                <span th:if="${#authorization.expression('isAuthenticated()')}">
                                    <span sec:authorize="hasAnyAuthority('매니저')" class="header-btn4" >관리자</span>
                                    <span sec:authorize="hasAnyAuthority('게터')" class="header-btn4" >게터</span>
                                    <span sec:authorize="hasAnyAuthority('세터')" class="header-btn4" >세터</span>
                                </span>

                            </li>
                        </ul>


                    </div>

                    </div>
                </div>
            </nav>
        </div>
    </header>
</div>
</body>
</html>