<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <!--  CSS 경로  -->
    <link th:href="@{/css/mypage.css}" rel="stylesheet">
    <link th:href="@{/css/all-funding.css}" rel="stylesheet">

    <!--  fragments 경로  -->
    <th:block th:include="~{fragments/common}"></th:block>

    <!--  JS 경로  -->
    <script th:src="@{/js/all-funding.js}"></script>

    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

</head>

<body>
<div th:insert="~{/fragments/header.html}"></div>

<!-- 배너 부분 -->
<section class="banner2-area">
    <div class="container">
        <div class="row fullscreen align-items-center">
            <div class="col-lg-10">
                <div class="banner2-content">
                    <h1 style="font-weight: bold; margin-left: 94px;">전체 펀딩 목록</h1>
                    <br>
                    <p style="color:white; margin-left: 100px;">지구를 위한 바른 아이디어</p>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="container">
    <!-- 첫번째 제품 리스트 -->
    <section id="content-box">
        <div class="row">

            <div class="col-lg-3 col-md-6">
                <ul class="items">
                    <li><img src="/img/product/p1.png" alt="p1"></li>
                    <li class="funding-name">다양한 청바지 업사이클 숄더백: 지속가능한 패션의 새로운 스타일!</li>
                    <li class="funding-success-rate"><strong>96% 달성</strong><span
                            class="funding-price">48,000원</span></li>
                    <li class="button-group">
                        <button class="pay-button" onclick="location.href='/content/funding/detail-funding'">후원하기
                        </button>
                        <span>
                            <button class="heart-button" th:style="${isRedHeart != null and isRedHeart} ? 'color: red;' : 'color: gray;'" onclick="toggleHeart(this)">❤️</button>
                        </span>
                    </li>
                </ul>
            </div>

            <!--🤍 ❤️ -->


            <div class="col-lg-3 col-md-6">
                <ul class="items">
                    <li><img src="/img/product/p2.jpg" alt="p2"></li>
                    <li class="funding-name">청바지 3개를 업사이클링한 슬리퍼</li>
                    <li class="funding-success-rate"><strong>96% 달성</strong><span
                            class="funding-price">50,000원</span></li>
                    <li class="button-group">
                        <button class="pay-button" onclick="location.href='/content/funding/detail-funding'">후원하기
                        </button>
                        <span>
                            <button class="heart-button" th:style="${isRedHeart != null and isRedHeart} ? 'color: red;' : 'color: gray;'" onclick="toggleHeart(this)">❤️</button>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6">
                <ul class="items">
                    <li><img src="/img/product/p3.jpg" alt="p3"></li>
                    <li class="funding-name">청바지 3개를 업사이클링한 슬리퍼</li>
                    <li class="funding-success-rate"><strong>96% 달성</strong><span
                            class="funding-price">50,000원</span></li>
                    <li class="button-group">
                        <button class="pay-button" onclick="location.href='/content/funding/detail-funding'">후원하기
                        </button>
                        <span>
                            <button class="heart-button" th:style="${isRedHeart != null and isRedHeart} ? 'color: red;' : 'color: gray;'" onclick="toggleHeart(this)">❤️</button>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6">
                <ul class="items">
                    <li><img src="/img/product/p4.jpg" alt="p4"></li>
                    <li class="funding-name">청바지 3개를 업사이클링한 슬리퍼</li>
                    <li class="funding-success-rate"><strong>96% 달성</strong><span
                            class="funding-price">50,000원</span></li>
                    <li class="button-group">
                        <button class="pay-button" onclick="location.href='/content/funding/detail-funding'">후원하기
                        </button>
                        <span>
                            <button class="heart-button" th:style="${isRedHeart != null and isRedHeart} ? 'color: red;' : 'color: gray;'" onclick="toggleHeart(this)">❤️</button>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- 두번째 제품 리스트 -->
    <section id="content-box">
        <div class="row">

            <div class="col-lg-3 col-md-6">
                <ul class="items">
                    <li><img src="/img/product/p5.png" alt="p5"></li>
                    <li class="funding-name">청바지 3개를 업사이클링한 슬리퍼</li>
                    <li class="funding-success-rate"><strong>96% 달성</strong><span
                            class="funding-price">50,000원</span></li>
                    <li class="button-group">
                        <button class="pay-button" onclick="location.href='/content/funding/detail-funding'">후원하기
                        </button>
                        <span>
                            <button class="heart-button" th:style="${isRedHeart != null and isRedHeart} ? 'color: red;' : 'color: gray;'" onclick="toggleHeart(this)">❤️</button>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6">
                <ul class="items">
                    <li><img src="/img/product/p6.png" alt="p6"></li>
                    <li class="funding-name">청바지 3개를 업사이클링한 슬리퍼</li>
                    <li class="funding-success-rate"><strong>96% 달성</strong><span
                            class="funding-price">50,000원</span></li>
                    <li class="button-group">
                        <button class="pay-button" onclick="location.href='/content/funding/detail-funding'">후원하기
                        </button>
                        <span>
                            <button class="heart-button" th:style="${isRedHeart != null and isRedHeart} ? 'color: red;' : 'color: gray;'" onclick="toggleHeart(this)">❤️</button>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6">
                <ul class="items">
                    <li><img src="/img/product/p7.png" alt="p7"></li>
                    <li class="funding-name">청바지 3개를 업사이클링한 슬리퍼</li>
                    <li class="funding-success-rate"><strong>96% 달성</strong><span
                            class="funding-price">50,000원</span></li>
                    <li class="button-group">
                        <button class="pay-button" onclick="location.href='/content/funding/detail-funding'">후원하기
                        </button>
                        <span>
                            <button class="heart-button" th:style="${isRedHeart != null and isRedHeart} ? 'color: red;' : 'color: gray;'" onclick="toggleHeart(this)">❤️</button>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6">
                <ul class="items">
                    <li><img src="/img/product/p8.jpg" alt="p8"></li>
                    <li class="funding-name">청바지 3개를 업사이클링한 슬리퍼</li>
                    <li class="funding-success-rate"><strong>96% 달성</strong><span
                            class="funding-price">50,000원</span></li>
                    <li class="button-group">
                        <button class="pay-button" onclick="location.href='/content/funding/detail-funding'">후원하기
                        </button>
                        <span>
                            <button class="heart-button" th:style="${isRedHeart != null and isRedHeart} ? 'color: red;' : 'color: gray;'" onclick="toggleHeart(this)">❤️</button>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- 세번째 제품 리스트 -->
    <section id="content-box">
        <div class="row">

            <div class="col-lg-3 col-md-6">
                <ul class="items">
                    <li><img src="/img/product/p9.png" alt="p9"></li>
                    <li class="funding-name">청바지 3개를 업사이클링한 슬리퍼</li>
                    <li class="funding-success-rate"><strong>96% 달성</strong><span
                            class="funding-price">50,000원</span></li>
                    <li class="button-group">
                        <button class="pay-button" onclick="location.href='/content/funding/detail-funding'">후원하기
                        </button>
                        <span>
                            <button class="heart-button" th:style="${isRedHeart != null and isRedHeart} ? 'color: red;' : 'color: gray;'" onclick="toggleHeart(this)">❤️</button>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6">
                <ul class="items">
                    <li><img src="/img/product/p10.png" alt="p10"></li>
                    <li class="funding-name">청바지 3개를 업사이클링한 슬리퍼</li>
                    <li class="funding-success-rate"><strong>96% 달성</strong><span
                            class="funding-price">50,000원</span></li>
                    <li class="button-group">
                        <button class="pay-button" onclick="location.href='/content/funding/detail-funding'">후원하기
                        </button>
                        <span>
                            <button class="heart-button" th:style="${isRedHeart != null and isRedHeart} ? 'color: red;' : 'color: gray;'" onclick="toggleHeart(this)">❤️</button>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6">
                <ul class="items">
                    <li><img src="/img/product/p11.png" alt="p11"></li>
                    <li class="funding-name">청바지 3개를 업사이클링한 슬리퍼</li>
                    <li class="funding-success-rate"><strong>96% 달성</strong><span
                            class="funding-price">50,000원</span></li>
                    <!--  완성본  -->
                    <li class="button-group">
                        <button class="pay-button" onclick="location.href='/content/funding/detail-funding'">후원하기
                        </button>
                        <span>
                            <button class="heart-button" th:style="${isRedHeart != null and isRedHeart} ? 'color: red;' : 'color: gray;'" onclick="toggleHeart(this)">❤️</button>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6">
                <ul class="items">
                    <li><img src="/img/product/p12.jpg" alt="p12"></li>
                    <li class="funding-name">커피 자루와 비건 한지가죽이 만난 콤팩트한 데일리 백, 비니 미니 토트 백</li>
                    <li class="funding-success-rate"><strong>107% 달성</strong><span
                            class="funding-price">119,000원</span></li>
                    <li class="button-group">
                        <button class="pay-button" onclick="location.href='/content/funding/detail-funding'">후원하기
                        </button>
                        <span>
                            <button class="heart-button" th:style="${isRedHeart != null and isRedHeart} ? 'color: red;' : 'color: gray;'" onclick="toggleHeart(this)">❤️</button>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>

<div th:insert="~{/fragments/footer.html}"></div>

</body>
</html>