<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:text-decoration="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <!--  CSS 경로  -->
    <link th:href="@{/css/mypage.css}" rel="stylesheet">
    <link th:href="@{/css/all-funding.css}" rel="stylesheet">

    <!--  fragments 경로  -->
    <th:block th:include="~{fragments/common}"></th:block>

    <!--  JS 경로  -->
    <script th:src="@{/js/all-funding.js}"></script>

    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

</head>


<body>
<div th:insert="~{/fragments/header.html}"></div>

<!-- 배너 부분 -->
<section class="banner2-area">
    <div class="container">
        <div class="row fullscreen align-items-center">
            <div class="col-lg-10">
                <div class="banner2-content">
                    <h1 style="font-weight: bold; margin-left: 94px;">전체 펀딩 목록</h1>
                    <br>
                    <p style="color:white; margin-left: 100px;">지구를 위한 바른 아이디어</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="item_list">
        <div class="card" th:each="funding: ${fundingList}" style="border: none; cursor: pointer; text-decoration: none">
            <div class="img">
                <img th:src="@{|/upload/${funding.fndSaveFile}|}" alt="">
            </div>
            <div class="fndName" th:rows="1">
                <p style="margin-top: 8px" th:text="${funding.fndName}"></p>
            </div>
            <div class="details" style="display: flex; justify-content: space-between; margin-bottom: 8px;">
                <span th:text="${#numbers.formatDecimal((funding.successAmt * 1.0) / funding.goalAmt * 100, 0, 0)} + '% 달성'"></span>
                <span th:text="${funding.giftPrice} + '원'"></span>
            </div>

            <div class="progress-container">
                <div class="progress-bar" th:style="'width:' + ${#numbers.formatDecimal((funding.successAmt * 1.0) / funding.goalAmt * 100, 0, 0)} + '%; background-color: #52cdac;'"></div>
            </div>

            <div class="button-group">
                <button style="margin-left: 8px" th:onclick="|window.location.href='/content/funding/all-funding/__${funding.fndCode}__'|">상세보기</button>
            </div>
        </div>
    </div>



    <!--    <table>-->
    <!--        <tr th:each="funding: ${fundingList}" style="border: #0AA37F solid 1px">-->
    <!--            <td>-->
    <!--                <a th:text="${funding.fndName}" th:href="@{|/content/funding/all-funding/${funding.fndCode}|}" style="cursor: pointer"></a>-->
    <!--            </td>-->
    <!--            <td th:text="${funding.successAmt}"></td>-->
    <!--            <td th:text="${funding.giftPrice}"></td>-->
    <!--        </tr>-->
    <!--    </table>-->



</div>
<!-- Features Area -->
<section class="features-area">
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</section>
<div th:insert="~{/fragments/footer.html}"></div>

</body>
</html>