<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!--  fragments 경로  -->
    <th:block th:include="~{fragments/common}"></th:block>

    <!--  CSS 경로  -->
    <link th:href="@{/css/mypage.css}" rel="stylesheet">
    <link th:href="@{/css/detail-funding.css}" rel="stylesheet">
    <!--  JS 경로  -->
        <script th:src="@{/js/detail-funding.js}"></script>

</head>


<body>
<div th:insert="~{/fragments/header.html}"></div>

<main class="container1">
    <!-- 좌측 컬럼1 / 썸네일 이미지 -->
    <div class="left-column1 col-md-7">
        <div class="section">
            <input type="radio" name="slide" id="slide01" checked>
            <input type="radio" name="slide" id="slide02">
            <input type="radio" name="slide" id="slide03">
            <input type="radio" name="slide" id="slide04">
            <input type="radio" name="slide" id="slide05">

            <div class="slidewrap">
                <ul class="slidelist">
                    <li th:each="fundingFile: ${fundingFileList}">
                        <a>
                            <img class="img" th:src="@{|/upload/${fundingFile.fndSaveFile}|}" alt="">
                        </a>
                    </li>
                </ul>

                <div class="slide-control">
                    <div class="control01">
                        <label for="slide03" class="left"></label>
                        <label for="slide02" class="right"></label>
                    </div>
                    <div class="control02">
                        <label for="slide01" class="left"></label>
                        <label for="slide03" class="right"></label>
                    </div>
                    <div class="control03">
                        <label for="slide02" class="left"></label>
                        <label for="slide04" class="right"></label>
                    </div>
                    <div class="control04">
                        <label for="slide03" class="left"></label>
                        <label for="slide05" class="right"></label>
                    </div>
                    <div class="control05">
                        <label for="slide04" class="left"></label>
                        <label for="slide01" class="right"></label>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- 우측 컬럼1 / 펀딩 정보 -->
    <div class="right-column1 col-md-5">

        <!-- 펀딩 정보 -->
        <div class="funding-description">
            <h2 th:text="${funding.fndName}"></h2>
            <!-- 달성율 그래프 -->
            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="75"
                 aria-valuemin="0"
                 aria-valuemax="100" style="height: 30px;">
                <div class="progress-bar bg-success" style="width: 75%">75% 달성</div>
            </div>
        </div>

        <!-- 기본 수량의 선물 금액 -->
        <div class="funding-price">
            <span id="unit-price" th:text="${funding.giftPrice} + '원'"></span>
        </div>

        <!-- 선물 수량 입력 및 찜하기, 후원하기 버튼 -->
        <!--        <form action="" method="post">-->
        <div class="order-details">
            <div class="quantity">
                <h6>선물 수량</h6> <span>
                <span class="minus">-</span>
                <input id="qty-input" name="giftQty" type="text" readonly th:value="1">
                <span class="plus">+</span>
            </span>
            </div>
            <div class="wishlist-btn">
                    <span class="wishlist-btn" onclick="addToWishlist()"
                          style="text-align: center; align-items: center;">찜하기</span>
            </div>
            <div class="pay-btn">
                <span class="pay-btn" onclick="location.href='/content/pay/pay'">후원하기</span>
            </div>
        </div>
        <!--        </form>-->

        <!-- 총 후원금액 정보 -->
        <div class="total-price row justify-content-betwwen">
            <h4>총 후원금액</h4>
            <input align="right" type="text" readonly th:value="${funding.giftPrice} + '원'">
        </div>

        <!--  후원 관련 정보 테이블  -->
        <div class="statics">
            <h4>총 160명 참여</h4>
            <table class="table">
                <tr>
                    <td class="left-margin">모금 목표액</td>
                    <td></td>
                    <td></td>
                    <td align="right" th:text="${funding.goalAmt} + '원'"></td>
                </tr>
                <tr>
                    <td class="left-margin">모금 달성액</td>
                    <td></td>
                    <td></td>
                    <td align="right" th:text="${funding.successAmt} + '원'"></td>
                </tr>
                <tr>
                    <td class="left-margin">펀딩 마감일</td>
                    <td></td>
                    <td></td>
                    <td align="right" th:text="${funding.fndEndDt}"></td>
                </tr>
                <tr>
                    <td>남은 펀딩 기간</td>
                    <td></td>
                    <td></td>
                    <td align="right">55일</td>
                </tr>
                <tr>
                    <td>펀딩 달성 시 선물 예상 발송일</td>
                    <td></td>
                    <td></td>
                    <td align="right">7월 21일 ~ 7월 27일</td>
                </tr>
            </table>
        </div>

        <!--  신고하기 버튼  -->
        <div class="rpt-group row justify-content-between">
            <h6>펀딩에 문제가 있나요?</h6>
            <button class="rpt-btn">신고하기</button>
        </div>
    </div>
</main>
<main class="container2">
    <!-- 좌측 컬럼2 / 펀딩 스토리 -->
    <div class="left-column2">
        <div class="funding-story">
            <p th:text="${funding.fndDescr}"></p>
        </div>
    </div>

    <div class="right-column2">
        <img th:src="@{|/upload/${sttrImg.siSaveFile}|}" alt="">
    </div>
</main>


<!-- 공지사항 -->
<div class="notice" th:type="text" style="overflow-scrolling: auto;">
    <table class="ntc-group">
        <colgroup>
            <col style="width:900px">
            <col>
        </colgroup>
        <tr align="center" class="ntc-header">
            <p>
                <td colspan="3">공지사항</td>
            </p>
        </tr>
        <tr align="center">
            <td>내용</td>
            <td>내용 등록 일자</td>
        </tr>
        <tr>
            <td class="content">부자재 공급 차질이 지속됨에 따라 예정된 선물 발송 예상일정이 기존 고지된 7월 27일에서 2주 지연되어 8월 13일에 발송될 예정입니다. 불편을 끼쳐드려
                죄송합니다.
            </td>
            <td class="date">2024-07-23</td>
        </tr>
        <tr>
            <td class="content">게터분들의 뜨거운 응원과 지지로 인해 성공적으로 펀딩에 성공하였습니다. 7월 27일부터 얼모스트 양털 이불을 순차적으로 배송합니다. 오래 기다려주셔서
                감사합니다.
            </td>
            <td class="date">2024-07-20</td>
        </tr>

    </table>
</div>
<main class="container3">
    <!--  상세페이지  -->
    <div class="image-box">
        <img class="funding-image" th:src="@{|/upload/${detailImage.fndSaveFile}|}" alt="">
    </div>
</main>

<div th:insert="~{fragments/footer.html}"></div>
<script>
    $(document).ready(function () {
// 수량 증가 버튼 클릭 시
        $('.plus').click(function () {
            let quantityInput = $('#quantity-input');
            let quantity = parseInt(quantityInput.val());
            quantity++;
            quantityInput.val(quantity);
            calculateTotalPrice();
        });

// 수량 감소 버튼 클릭 시
        $('.minus').click(function () {
            let quantityInput = $('#quantity-input');
            let quantity = parseInt(quantityInput.val());
            if (quantity > 1) {
                quantity--;
                quantityInput.val(quantity);
                calculateTotalPrice();
            }
        });

// 총 후원금액 계산 함수
        function calculateTotalPrice() {
            let unitPrice = parseInt($('#unit-price').text().replace('원', ''));
            let quantity = parseInt($('#quantity-input').val());
            let totalPrice = unitPrice * quantity;
            $('.total-price input[type="text"]').val(totalPrice + '원');
        }
    });
</script>


</body>


</html>