<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.revelup.user.model.dao.UserMapper">


    <resultMap id="login" type="com.revelup.user.model.dto.LoginUserDTO">
        <id property="userId" column="USER_ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="userPw" column="USER_PW"/>
        <result property="userPhone" column="USER_PHONE"/>
        <result property="userAdd" column="USER_ADD"/>
        <result property="userEmail" column="USER_EMAIL"/>
        <result property="userRole" column="USER_ROLE"/>
    </resultMap>

    <resultMap id="UserDTO" type="com.revelup.user.model.dto.UserDTO">
        <id property="userId" column="USER_ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="userPw" column="USER_PW"/>
        <result property="userPhone" column="USER_PHONE"/>
        <result property="userAdd" column="USER_ADD"/>
        <result property="userEmail" column="USER_EMAIL"/>
        <result property="userRole" column="USER_ROLE"/>
    </resultMap>

    <!-- id 중복체크 -->
    <select id="idCheck" resultType="int">
        SELECT COUNT(USER_ID)
          FROM USER
         WHERE USER_ID = #{ userId }
    </select>

    <!-- 회원가입 : sign-up -->
    <insert id="signup" parameterType="com.revelup.user.model.dto.UserDTO">
        INSERT INTO USER(
                         USER_ID
                        ,USER_NAME
                        ,USER_PW
                        ,USER_PHONE
                        ,USER_ADD
                        ,USER_EMAIL
                        )
        VALUES (
                #{ userId }
                ,#{ userName }
                ,#{ userPw }
                ,#{ userPhone }
                ,#{ userAdd }
                ,#{ userEmail }
        )
    </insert>


    <!-- 로그인할 때 필요한 ID : login -->
    <select id="findByUserId" resultMap="login">
        SELECT
                USER_ID
                ,USER_NAME
                ,USER_PW
                ,USER_PHONE
                ,USER_ADD
                ,USER_EMAIL
                ,USER_ROLE
         FROM   USER
        WHERE  USER_ID = #{ userId }
    </select>

    <!-- 로그인한 대상 정보출력 : userShow  -->
    <select id="findByLoginId" resultMap="login">
        SELECT
                USER_ID
                ,USER_NAME
                ,USER_PW
                ,USER_PHONE
                ,USER_ADD
                ,USER_EMAIL
                ,USER_ROLE
        FROM   USER
        WHERE  USER_ID = #{ userId }
    </select>


</mapper>