/* 전체 적용 스타일 */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* 내용 본문 스타일 */
.container1 {
    max-width: 1200px;
    margin: 40px auto;
    padding: 15px;
    display: flex;
    align-items: stretch;
}

/* 내용 본문 스타일 */
.container2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

/* 좌우 컬럼 스타일 */
.left-column1 {
    display: flex;
    align-items: stretch;
}

.left-column1 .section {
    text-align: center;
}

/*!* 좌측 컬럼 스타일 *!*/
/*.container1 .left-column1 .section .slidewrap .slidelist > img {*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    opacity: 0;*/
/*    transition: all 0.3s ease;*/
/*    border-radius: 52px;*/
/*    text-align: center;*/
/*}*/

/* 썸네일 라디오 버튼 숨기기 */
.section [id*="slide"] {
    display: none;
}

.section .slidewrap {
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
}

.section .slidelist {
    white-space: nowrap;
    font-size: 0;
}

.section .slidelist > li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;
}

.section .slidelist > li > a {
    display: block;
    position: relative;
    height: 100%;
}

.section .slidelist > li > a img {
    width: 100%;
    border-radius: 52px;
}

/* 좌우로 넘기는 LABEL버튼에 대한 스타일 */
.section .slide-control {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.section .slide-control label {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}

.section .slide-control .left {
    left: 30px;
    background: url('/img/icons/left-arrow.png') center center / 100% no-repeat;
}

.section .slide-control .right {
    right: 30px;
    background: url('/img/icons/right-arrow.png') center center / 100% no-repeat;
}

.section .slide-control [class*="control"] {
    display: none;
}

/* INPUT이 체크되면 변화값이 li까지 전달되는 스타일 */
.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {
    transform: translateX(0%);
}

.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {
    transform: translateX(-100%);
}

.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {
    transform: translateX(-200%);
}

.section [id="slide04"]:checked ~ .slidewrap .slidelist > li {
    transform: translateX(-300%);
}

.section [id="slide05"]:checked ~ .slidewrap .slidelist > li {
    transform: translateX(-400%);
}

/*  INPUT이 체크되면 변화값이 좌우 슬라이드 버튼을 담고 있는 div 까지 전달되는 스타일 */
.section [id="slide01"]:checked ~ .slidewrap .control01 {
    display: block;
}

.section [id="slide02"]:checked ~ .slidewrap .control02 {
    display: block;
}

.section [id="slide03"]:checked ~ .slidewrap .control03 {
    display: block;
}

.section [id="slide04"]:checked ~ .slidewrap .control04 {
    display: block;
}

.section [id="slide05"]:checked ~ .slidewrap .control05 {
    display: block;
}

.progress-container {
    width: 100%; /* 컨테이너의 전체 너비 */
    background-color: #ddd; /* 컨테이너의 배경색 */
    border-radius: 5px;
}

.progress-bar {
    height: 20px; /* 바의 높이 */
    background-color: #008000; /* 바의 배경색 */
    text-align: center; /* 바 내부 텍스트 정렬 */
    line-height: 20px; /* 바 내부 텍스트 라인 높이 */
    color: white; /* 바 내부 텍스트 색상 */
    overflow: hidden; /* 넘치는 부분 감춤 */
    width: 100%; /* 너비를 100%로 설정 */
    max-width: 100%; /* 최대 너비를 100%로 설정 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    border-radius: 5px;

}

.right-column1 h4 {
    display: flex;
    justify-content: center;
    align-content: center;
}

.left-column2 {
    width: 80%;
}

.left-column2 p {
    border: 1px solid #0CC291;
    margin-right: 30px;
    padding: 30px;
    border-radius: 52px;
}

.right-column2 {
    width: 20%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.container2 .right-column2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 52px;
}

/* 펀딩 정보 스타일 */
.funding-description {
    margin-bottom: 20px;
}

/* 선물 금액 div 스타일 */
.funding-price {
    font-size: 24px;
    margin-bottom: 10px;
}

/* 현재 주석한 수량 버튼 스타일 */
.order-details {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.order-details {
    display: flex; /* 수평 정렬을 위해 flexbox 사용 */
    justify-content: space-between; /* 내부 요소들을 좌우로 분산 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    text-align: center;
}

.quantity {
    display: flex; /* 내부 요소들을 가로로 배열하기 위해 flexbox 사용 */
    align-items: center; /* 수직 가운데 정렬 */
}

.quantity h6 {
    margin-right: 5px; /* 텍스트와 버튼 사이에 간격을 주기 위해 오른쪽 마진 추가 */
}

.quantity input {
    width: 40px;
    border: none;
    text-align: center;
    color: #0CC291;
    font-weight: 600;
    font-size: 18px;
}

.order-details .quantity .plus,
.order-details .quantity .minus {
    margin: 0 5px; /* 버튼 사이에 간격을 주기 위해 좌우 마진 추가 */
    cursor: pointer;
}

.total-price input {
    width: 130px;
    float: right;
    border: none;
    text-align: right;
}

/* 수량에 따른 총 합계 금액 스타일 */
.total-price {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

/* 찜하기 후원하기 버튼 스타일 */
input, button, .wishlist-btn, .pay-btn {
    margin: 0 5px 0 5px;
    height: 32.8px;
    align-items: center;
    text-align: center;
}

.wishlist-btn, .pay-btn {
    width: 30%;
    background-color: #0CC291;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 6px;
}

/* 후원하기 버튼 마우스 호버시 스타일 */
.pay-btn:hover {
    background-color: #0aa97e;
}

.pay-btn span,
.wishlist-btn span{
    /* 텍스트의 위치를 조정하는 CSS */
    display: block;
    padding-top: 3px; /* 텍스트를 아래로 이동시키는 패딩값 조정 */
}

.total-price input {
    margin-right: 0;
    font-size: 20px;
}

.total-price h4 {
    margin-right: 10px;
    align-items: center;
}

/* 통계 테이블 */
.statics {
    margin-top: 30px;
}

.rpt-group {
    margin-top: 30px;
    display: flex;
    padding: 0 27px;
    align-content: center;
}

/*  신고하기 버튼  */
.rpt-btn {
    width: 30%;
    border: none;
    border-radius: 5px;
    background-color: #f95252;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.rpt-btn:hover {
    background-color: #f87878;
}


/* 내용 본문3 스타일 */
.container3 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    text-align: center;
}

.notice {
    max-width: 1200px;
    margin: 30px auto;
    padding: 30px;
    background-color: #EDEDED;
    border-radius: 52px;
}

.ntc-header {
    font-size: 20px;
    font-weight: bold;
}

.notice table .content {
    text-align: left;
}

.notice table .date {
    text-align: right;
}

/*.image-box {*/
/*    width: 1200px;*/
/*    height: auto;*/
/*    overflow: hidden;*/
/*    background-position: center*/
/*}*/

/*.img-box img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/