/* 전체 적용 스타일 */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    /* font-family: 'Roboto', sans-serif;  */ /* 추후에 폰트 변경을 원할 경우 */
}

/* 내용 본문 스타일 */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

/* 좌우 컬럼 스타일 */
.left-column {
    width: 65%;
    position: relative;
}

.right-column {
    width: 35%;
    margin-top: 60px;
}

/* 좌측 컬럼 스타일 */
.left-column img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
    height: 562px;
    flex-grow: 0;
    border-radius: 52px;
}

/* 좌측 컬럼 썸네일 첫번째 이미지 스타일 */
.left-column img.active {
    opacity: 1;
}

/* 펀딩 정보 스타일 */
.funding-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

/* 선물 금액 div 스타일 */
.funding-price {
    font-size: 24px;
    margin-bottom: 10px;
}

/* 현재 주석한 수량 버튼 스타일 */
.order-details {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

/* 수량 버튼 수직 정렬 */
.quantity {
    width:160px;
}

.quantity input,.quantity button{
    width:50px;
    font-size:1.2rem;
    text-align:center;
    background:white;
    border:1px solid #aaa;
    margin: 0 auto;
    padding: 0 auto;
}

/* 수량에 따른 총 합계 금액 스타일 */
.total-price {
    width: 100%;
    display: flex;
    text-align: center;
    margin-bottom: 10px;
}

.product-details input {
    width: 45px;
}

/* 찜하기 후원하기 버튼 스타일 */
input, button, .wishlist-btn, .pay-btn {
    margin: 0 5px 0 5px;
    height: 32.8px;

}

.wishlist-btn, .pay-btn {
    background-color: #7DC855;
    color: #FFFFFF;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
}

/* 후원하기 버튼 마우스 호버시 스타일 */
.pay-btn:hover {
    background-color: #64af3d;
}

/* 반응형 스타일 */
@media (max-width: 940px) {
    .container {
        flex-direction: column;
        margin-top: 60px;
    }

    .left-column,
    .right-column {
        width: 100%;
    }

    .left-column img {
        width: 300px;
        right: 0;
        top: -65px;
        left: initial;
    }
}

@media (max-width: 535px) {
    .left-column img {
        width: 220px;
        top: -85px;
    }
}

