/* 이미지 박스 스타일 */
.image-box {
    display: flex;
    align-items: center;
    border: 1px solid #bdbdbd;
    border-radius: 15px;  /* 모서리 둥글게 */
    padding: 10px;
    font-size: 14px; /* 원하는 폰트 크기로 설정 */
}

/* 이미지 스타일 */
.image-box img {
    width: 150px; /* 이미지 크기 조정 */
    margin-right: 20px; /* 이미지와 항목들 사이 간격 조정 */
}

/* 이미지 설명 스타일 */
.image-desc {
    display: flex;
    flex-wrap: wrap; /* 넘칠 경우 자동으로 다음 줄로 이동 */
    align-items: center; /* 수직 가운데 정렬 */
}

/* 각 항목 스타일 */
.image-desc div {
    margin-right: 20px; /* 각 항목 오른쪽 여백 추가 */
    margin-bottom: 10px; /* 각 항목 아래 여백 추가 */
    display: flex; /* 요소를 가로로 배열 */
    align-items: center; /* 수직 가운데 정렬 */
}

/* 각 항목의 strong 태그 스타일 */
.image-desc div strong {
    margin-right: 5px; /* strong 태그 오른쪽 여백 추가 */
    min-width: 100px; /* strong 태그 최소 너비 지정 */
    display: inline-block; /* inline 요소를 block 요소로 변경하여 width, height 속성 적용 가능 */
    text-align: right; /* 텍스트를 오른쪽으로 정렬 */
}

.info-item {
    display: inline-block;
    width: 80px; /* 각 항목의 너비 조정 */
}

/* 배송정보 컨테이너 스타일 */
.deliv-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #bdbdbd;
    border-radius: 15px;  /* 모서리 둥글게 */
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

/* 배송상태 스타일 */
#deliv-status {
    padding: 10px;
    color : #035E0C;
    font-size: 24px;
    font-weight : bold;
}



/* 배송사 정보 */
.deliv-info, .deliv-recipient {
    font-size: 14px;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
}

.deliv-recipient div {
    display: flex;
}

.deliv-recipient .label {
    font-weight: bold;
    min-width: 70px;
}

.deliv-recipient .content {
    font-weight: normal;
}


.deliv-recipient .item:not(:last-child) {
    margin-bottom: 10px;
}

/* '택배사 배송조회' 버튼 스타일 */
#confirmation, #deliv-select {
    width: 150px;
    background: #ffffff;
    padding: 7px;
    border: 3px solid #035E0C;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    transition: background 0.3s;
}

#deliv-select {
    width: 80%;
    margin-top: 10px;
}

/* 마우스를 올렸을 때의 '후원확정, 운송장입력' 버튼 스타일 */
#deliv-select:hover, #confirmation:hover {
    background: #0CC291; /* 마우스를 올렸을 때 배경색을 흰색으로 변경 */
    transform: scale(1.02); /* 마우스를 갖다대면 버튼이 살짝 커짐 */
}




.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%; /* 전체 너비 */
    height: 100%; /* 전체 높이 */
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검은색 배경 */
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border: 2px solid #e6e5e5;
    padding: 20px;
    width: 500px;
    max-width: 60%;
    height: 300px;
    overflow-y: auto;
    z-index: 10000; /* .modal보다 높은 z-index */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-group { /* 버튼 그룹 스타일 추가 */
    display: flex;
    justify-content: center;
    gap: 10px;  /* 버튼 사이를 띄워줌 */
    margin-top: 15px;
}

.modal-content button {
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
}


#cancel-btn {
    background-color: #F95252; /* '취소' 버튼의 색을 #F95252로 변경 */
}
