/* contract 0번에 대한 css */
.contract0 {
    margin-bottom: 20px;
}

.title0 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
}

.title0 {
    font-size: 12px;
    color: #C1C1C1;
    margin-top: 20px;
}

.agreeText0 {
    width: 100%;
    height: 200px; /* 조절 가능 */
    resize: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.agreeText1 {
    width: 100%;
    height: 200px; /* 조절 가능 */
    resize: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.checkbox0 {
    margin-bottom: 20px;
}

.checkbox0 p {
    margin: 0;
}

.checkbox1 {
    margin-bottom: 20px;
}

.checkbox1 p {
    margin: 0;
}

.button-group0 {
    text-align: center;
}


.button-group2 {
    text-align: center;
}

.button-group1, .button-group3, .button-group4, .button-group5 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* contract 1번에 대한 css */
.title1 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
}

.contents1 {
    margin-top: 20px;
}

.input-group1 {
    display: flex;
    flex-direction: column;
}

.input-group1 label {
    margin-bottom: 5px;
}

.input-group1 input[type="text"],
.input-group1 input[type="number"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.input-group1 input[type="text"]:focus,
.input-group1 input[type="number"]:focus {
    outline: none;
    border-color: #007bff;
}

.input-group1 .hidden1 {
    display: none;
}

.input-group2 .hidden {
    display: none;
}

.error-message1 {
    color: red;
    margin-top: 5px;
}


/* contract 2번에 대한 css */
.title2 {
    font-size: 24px; /* 원하는 크기로 조정하세요 */
    font-weight: bold;
    margin-top: 30px;
}

.contents2 {
    margin-top: 20px;
}

.contents2 h3 {
    font-size: 18px; /* 원하는 크기로 조정하세요 */
    margin-bottom: 10px;
}

.input-group2 {
    margin-bottom: 20px;
}

.input-group2 label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.image_container2 {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.image_container2 ul li {
    display: inline-block;
    margin-right: 10px;
}

.error-message2 {
    color: red; /* 원하는 색상으로 조정하세요 */
    font-size: 14px; /* 원하는 크기로 조정하세요 */
}

.back-button1, .back-button2, .back-button3, .back-button4, .back-button5 {
    margin-right: 10px;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    background-color: #f95252;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-button1:hover, .back-button2:hover, .back-button3:hover, .back-button4:hover, .back-button5:hover {
    background-color: #f87878;
}

.next-button0, .next-button1, .next-button2, .next-button3, .next-button4, .submit-button5 {
    background-color: #0cc291; /* 새로운 버튼 기본 배경색 */
    color: white; /* 새로운 버튼 기본 텍스트 색상 */
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* 배경색 및 크기에 대한 전환 효과를 추가합니다. */
}


.next-button0:hover, .next-button1:hover, .next-button2:hover, .next-button3:hover, .next-button4:hover, .submit-button5:hover {
    background-color: #52cdac;
}

/* contract 3번에 대한 css */
.title3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
}

.contents3 {
    margin-top: 20px;
}

.input-group3 {
    display: flex;
    flex-direction: column;
}

.input-group3 label {
    margin-bottom: 5px;
}

.input-group3 input[type="text"],
.input-group3 input[type="number"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.input-group3 input[type="text"]:focus,
.input-group3 input[type="number"]:focus {
    outline: none;
    border-color: #007bff;
}

.input-group3 textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.input-group3 textarea:focus {
    outline: none;
    border-color: #007bff;
}

.thumbnail-tip3 ul {
    list-style: none;
    padding-left: 0;
}


/* contract 4번에 대한 css */
.title4 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
}

.contents4 {
    margin-top: 20px;
}

.input-group4 {
    display: flex;
    flex-direction: column;
}

.input-group4 label {
    margin-bottom: 5px;
}

.input-group4 input[type="text"],
.input-group4 input[type="number"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.input-group4 input[type="text"]:focus,
.input-group4 input[type="number"]:focus {
    outline: none;
    border-color: #007bff;
}

.input-group4 textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.input-group4 textarea:focus {
    outline: none;
    border-color: #007bff;
}

.input-with-unit4 {
    display: flex;
    align-items: center;
}

#currency-unit4 {
    margin-left: 5px;
}

#error-message4 {
    color: red;
    margin-top: 5px;
}

/* contract 5번에 대한 css */
.title5 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
}

.contents5 {
    margin-top: 20px;
}

.input-group5 {
    display: flex;
    flex-direction: column;
}

.notice5 {
    font-size: 12px;
    color: #666;
    margin-bottom: 10px;
}
.group {
    display: flex;
    flex-direction: column; /* 수직으로 배치 */
}