.row {
    padding-top:50px;
    display: flex;
    justify-content: center; /* 자식 요소 사이의 간격을 최대화하여 오른쪽 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    cursor: pointer;
}

.title-box button {
    background-color: #ccc;
    border: none;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition: background-color 0.3s;
    cursor: pointer;
    border-radius: 15px;  /* 모서리 둥글게 */
    margin-top: 30px;
    margin-right: 10px; /* 버튼 사이의 간격 설정 */
    width: 140px;
    height: 50px;
}

.title-box button:hover {
    background-color: #0CC291;
}

.manager_table {
    border-collapse: collapse;
    width: 100%; /* 테이블의 너비를 부모 요소의 너비에 맞춤 */
}

.manager_table td {
    padding: 1%;
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.text-box {
    margin-left: 10px;
    width: 80%;
}
#insert-btn {
    background-color: #0CC291;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    width: 120px;
    margin-left: 90%;
    border-radius: 10px;

}

#insert-title, #insert-date, #insert-content {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#insert-confirm-btn {
    background-color: #0CC291;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    width: 0%;
}

#insert-confirm-btn:hover {
    opacity: 0.8;
}



/* 여기 밑. */
.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.pagination a:hover {
    background-color: #f0f0f0;
}

.pagination .active a {
    background-color: #0CC291;
    color: #fff;
    border-color: #0aa27b;
}

.pagination .disabled a {
    pointer-events: none;
    background-color: #e9ecef;
    color: #6c757d;
    border-color: #dee2e6;
}