.row {
    padding-top:50px;
    display: flex;
    justify-content: center; /* 자식 요소 사이의 간격을 최대화하여 오른쪽 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    cursor: pointer;
}

.title-box button {
    background-color: #ccc;
    border: none;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition: background-color 0.3s;
    cursor: pointer;
    border-radius: 15px;  /* 모서리 둥글게 */
    margin-top: 30px;
    margin-right: 10px; /* 버튼 사이의 간격 설정 */
    width: 140px;
    height: 50px;
}

.title-box button:hover {
    background-color: #0CC291;
}

.manager_table {
    border-collapse: collapse;
    width: 100%; /* 테이블의 너비를 부모 요소의 너비에 맞춤 */
}

.manager_table td {
    padding: 1%;
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.text-box {
    margin-left: 10px;
    width: 80%;
}
#insert-btn {
    background-color: #0CC291;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    width: 130px;
    margin-left: 90%;
}

#insert-title, #insert-date, #insert-content {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#insert-confirm-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    width: 0%;
}

#insert-confirm-btn:hover {
    opacity: 0.8;
}

/* 페이징 처리 */
div.paging {
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

div.paging > i, div.paging > div.pages {
    margin: 0 10px;
}

div.paging > i, div.paging > div.pages > span {
    margin: 0 3px;
    cursor: pointer;
}

span.active {
    color: red;
    font-weight: bold;
}

.modal, .insert-modal {
    /*display: none; !* 모달창은 기본적으로 숨겨져 있음 *!*/
    /*position: fixed; !* 스크롤해도 항상 같은 위치에 있음 *!*/
    z-index: 1; /* 다른 요소 위에 나타남 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 너비 */
    height: 100%; /* 전체 높이 */
    overflow: auto; /* 내용이 많을 경우 스크롤 */
    background-color: rgba(0,0,0,0.4); /* 반투명한 검은색 배경 */
}

.display-none {
    display: none; /* 모달창은 기본적으로 숨겨져 있음 */
}

.open-modal {
    text-align: center;
    margin: auto; /* 중앙에 위치 */
    width: 1140px;
}

.modal-content, .insert-modal-content {
    background-color: #fefefe;
    /*margin: 15% auto; !* 중앙에 위치 *!*/
    padding: 20px;
    height: 950px;  /* 모달창 높이 */
    border: 1px solid #888;
    width: 70%; /* 모달창의 너비는 부모 요소의 80% */
    text-align: center; /* 내용을 가운데 정렬 */
}

#delete-btn {
    background-color: red;
    color: #fff;
    border-radius: 15px;  /* 모서리 둥글게 */
    padding: 10px;
    width: 130px;
    border: none;
    margin-right: 5px;
}

#delete-btn:hover, #update-btn:hover {
    transform: scale(1.08); /* 마우스를 갖다대면 버튼이 살짝 커짐 */

}

#update-btn {
    background-color: #0CC291;
    color: #fff;
    border-radius: 15px;  /* 모서리 둥글게 */
    padding: 10px;
    width: 130px;
    border: none;
    margin-left: 5px;
}

.close-modal-btn {
    margin-left: 85%;
    color: #aaaaaa;
    float: right;
    font-size: 23px;
    font-weight: bold;
}

#close-btn, .close-insert-btn {
    margin-left: 85%;
    color: #aaaaaa;
    float: right;
    font-size: 23px;
    font-weight: bold;
}

#close-btn:hover, .close-insert-btn:hover,
#close-btn:focus, .close-insert-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.notice-header {
    justify-content: space-between;
    align-items: center;
}

.notice-header label {
    width: 10%; /* label의 너비를 설정. 이 값을 조절해 제목과 작성날짜의 위치를 조절할 수 있습니다. */
    text-align: left; /* label의 텍스트를 왼쪽 정렬 */
    margin-left: 10px;
}

.text-box {
    display: inline-block;
    border: 1px solid #000;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;  /* 모서리 둥글게 */
    width: 75%; /* text-box의 너비를 설정. 이 값을 조절해 text-box의 시작점을 조절할 수 있습니다. */
    margin-right: 25px; /* text-box의 오른쪽 마진을 설정. 이 값을 조절해 text-box의 끝점을 조절할 수 있습니다. */
}

/* 내용 스타일*/
.contract {
    width: 90%; margin: 5px auto 80px;
    height: 500px;
    border-radius: 15px;
    background-color: white;
}


.contract #title {
    margin-top: 30px;
    margin-right: 94%;
}

/* 내용 텍스트 스타일 */
.contract .text, .contract .insert-text{
    text-align: left; /* 내용을 왼쪽 정렬 */
    height: 450px;
    border: 0.5px solid black; margin-right:12px;
    white-space: pre-line; overflow-y: scroll; margin: 0 auto 20px;
    border-radius: 15px;  /* 모서리 둥글게 */
    padding-left: 10px; /* 왼쪽 패딩을 10px로 설정 */
}

button {
    background-color: blue;
    color: #fff;
    border-radius: 15px;  /* 모서리 둥글게 */
    padding: 10px;
    width: 130px;
    border: none;
    margin-left: 5px;
}
button:hover {
    transform: scale(1.08); /* 마우스를 갖다대면 버튼이 살짝 커짐 */
}

input {
    display: inline-block;
    border: 1px solid #000;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;  /* 모서리 둥글게 */
    width: 75%; /* text-box의 너비를 설정. 이 값을 조절해 text-box의 시작점을 조절할 수 있습니다. */
    margin-right: 25px; /* text-box의 오른쪽 마진을 설정. 이 값을 조절해 text-box의 끝점을 조절할 수 있습니다. */
}

textarea {
    width: 90%; margin: 5px auto 80px;
    height: 500px;
    border-radius: 15px; background-color: white;
    text-align: left; /* 내용을 왼쪽 정렬 */
    height: 450px;
    border: 0.5px solid black; margin-right:12px;
    white-space: pre-line; overflow-y: scroll; margin: 0 auto 20px;
    border-radius: 15px;  /* 모서리 둥글게 */
    padding-left: 10px; /* 왼쪽 패딩을 10px로 설정 */
}