    img{
        width: 100%;
    }
    .login {
        height: 1000px;
        width: 100%;
        background: radial-gradient(#3d8466, #214220);
        position: relative;
    }
    .login_box {
        width: 1050px;
        height: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #fff;
        border-radius: 10px;
        box-shadow: 1px 4px 22px -8px #0004;
        display: flex;
        overflow: hidden;
    }
    .login_box .left{
        width: 41%;
        height: 100%;
        padding: 25px 25px;

    }
    .login_box .right{
        width: 59%;
        height: 100%
    }
    .left .top_link a {
        color: #2a5a34;
        font-weight: 400;
    }
    .left .top_link{
        height: 20px
    }
    .left .contact{
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        height: 100%;
        width: 73%;
        margin: auto;
    }
    .left h3{
        text-align: center;
        margin-bottom: 40px;
    }
    .left input {
        border: none;
        width: 80%;
        margin: 15px 0px;
        border-bottom: 1px solid #4f30677d;
        padding: 7px 9px;
        width: 100%;
        overflow: hidden;
        background: transparent;
        font-weight: 600;
        font-size: 14px;
    }
    .left{
        background: linear-gradient(-45deg, #dcd7e0, #fff);
    }
    .submit {
        border: none;
        padding: 15px 70px;
        border-radius: 8px;
        display: block;
        margin: auto;
        margin-top: 80px;
        background: #28532C;
        color: #fff;
        font-weight: bold;
        -webkit-box-shadow: 0px 9px 15px -11px rgb(54, 114, 84);
        -moz-box-shadow: 0px 9px 15px -11px rgb(54, 114, 91);
        box-shadow: 0px 9px 15px -11px rgb(54, 114, 89);
    }
    .submit2 {
        border: none;
        padding: 15px 70px;
        border-radius: 8px;
        display: block;
        margin: auto;
        margin-top: 10px;
        background: #28532C;
        color: #fff;
        font-weight: bold;
        -webkit-box-shadow: 0px 9px 15px -11px rgb(54, 114, 84);
        -moz-box-shadow: 0px 9px 15px -11px rgb(54, 114, 91);
        box-shadow: 0px 9px 15px -11px rgb(54, 114, 89);
    }

    .right {
        background:url(../img/banner/login.jpg);
        color: #fff;
        position: relative;
    }

    .right .right-text{
        height: 100%;
        position: relative;
        transform: translate(0%, 45%);
    }
    .right-text h2{
        display: block;
        width: 100%;
        text-align: center;
        font-size: 50px;
        font-weight: 500;
    }
    .right-text h5{
        display: block;
        width: 100%;
        text-align: center;
        font-size: 19px;
        font-weight: 400;
    }

    .right .right-inductor{
        position: absolute;
        width: 70px;
        height: 7px;
        background: #fff0;
        left: 50%;
        bottom: 70px;
        transform: translate(-50%, 0%);
    }
    .top_link img {
        width: 28px;
        padding-right: 7px;
        margin-top: -3px;
    }


    .collapse navbar-collapse offset {
        display: none;
    }

    #special_header_element {
        display: none;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
        padding: 20px;
        width: 270px; /* 너비 조정 */
        max-width: 80%; /* 최대 너비 설정 */
        height: 150px; /* 높이 조정 */
        overflow-y: auto; /* 내용이 모달을 넘어갈 경우 스크롤 표시 */
    }

    /* 모달 내용 스타일 */
    .modal-content {
        text-align: center;
        margin-top: 10px;
        border: none;
    }
    /* 알림 내용 스타일 */
    p {
        margin-top: 20px;
        font-size: 14px;
        color: #333;
    }

    .find-user {
        margin-left: 140px;
        margin-top: -10px;
    }

    .find-user a {
        color: black; /* 텍스트 색상을 검정색으로 변경 */
        text-decoration: none; /* 기본 밑줄 제거 */
        font-size: 12px; /* 글자 크기를 14px로 설정 */
    }

    .find-user a:hover {
        text-decoration: none; /* 마우스 호버 시 밑줄 제거 */
        color: #2a5a34;
    }