<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <th:block th:include="fragments/common"></th:block>

    <link th:href="@{/css/mypage.css}" rel="stylesheet">
    <link th:href="@{/css/getter-ongoing.css}" rel="stylesheet">
    <script th:src="@{/js/getter-ongoing.js}"></script>

</head>
<body>

<!-- 헤더 부분 -->
<div th:insert="~{/fragments/header.html}"></div>

<!-- 배너 부분 -->
<section class="banner2-area">
    <div class="container">
        <div class="row fullscreen align-items-center">
            <div class="col-lg-10">
                <div class="banner2-content">
                    <h1 style="font-weight: bold; margin-left: 94px;">마이페이지</h1>
                    <br>
                    <p style="color:white; margin-left: 100px;">마이페이지</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container" style="border-top: 1px solid lightgray; margin-top: 15px;">
    <br>
    <div class="row">
        <!-- Left Sidebar -->
        <div class="col-lg-3">

            <div th:insert="~{/fragments/sidebar.html}"></div>

        </div>

        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="title-box">
                <button onclick="location.href='/content/mypage/getter-ongoing'" style="background-color: #0CC291;">후원내역</button>
                <button onclick="location.href='/content/mypage/getter-refund'">후원철회</button>
                <button onclick="location.href='/content/mypage/failed-funding'">미달성펀딩</button>
            </div>

            <div class="image-box-group">
                <div class="image-box" th:each="allPlg : ${allPlgList}">
                    <p class="support-date" th:text="${allPlg.plgDttm}">2024-04-25</p>
                    <p>후원번호 : <a th:text="${allPlg.plgCode}">12341235</a></p>
                    <img th:src="@{/img/product/p1.png}" alt="product1">
                    <p class="image-desc">
                    <div>
                        <a style="font-weight: bold;" th:text="${allPlg.fndName}">[개굴기업] 알뜰살뜰 모아모아 레인보우 협탁1</a><br>
                        <a th:text="'· ' + ${allPlg.giftName}">· 레인보우</a><br>
                        <a th:text="${allPlg.giftQty}">1개</a>
                        <a th:text="'· ' + ${allPlg.giftPrice} + '원'">· 70,000원</a><br>
                    </div>
                    <div class="button-group">
                        <button type="button" onclick="location.href='/content/mypage/getter-spons-details'" class="button-detail"> 상세조회</button>
                        <button type="button" class="button-support-cancel">후원철회</button>
                    </div>
                    </p>
                </div>


                <div class="image-box">
                    <p class="support-date">2024-04-25</p>
                    <p>후원번호 : <a>12341235</a></p>
                    <img th:src="@{/img/product/p1.png}" alt="product1">
                    <p class="image-desc">
                    <div>
                        <a style="font-weight: bold;">[개굴기업]</a><br>
                        <a style="font-weight: bold;">알뜰살뜰 모아모아 레인보우 협탁2</a><br>
                        <a>· 레인보우 1개</a><br>
                        <a>· 70,000원</a><br>
                    </div>
<!--                    <div class="button-group"> &lt;!&ndash; 버튼을 감싸는 div 생성 &ndash;&gt;-->
<!--                        <button onclick="location.href='/content/mypage/getter-spons-details'" class="button-detail"> 상세조회</button>-->
<!--                        <button class="button-support-cancel">후원철회</button>-->
<!--                    </div>-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="image-box">-->
<!--                    <p class="support-date">2024-04-25</p>-->
<!--                    <p>후원번호 : <a>12341235</a></p>-->
<!--                    <img th:src="@{/img/product/p1.png}" alt="product1">-->
<!--                    <p class="image-desc">-->
<!--                    <div>-->
<!--                        <a style="font-weight: bold;">[개굴기업]</a><br>-->
<!--                        <a style="font-weight: bold;">알뜰살뜰 모아모아 레인보우 협탁3</a><br>-->
<!--                        <a>· 레인보우 1개</a><br>-->
<!--                        <a>· 70,000원</a><br>-->
<!--                    </div>-->
<!--                    <div class="button-group"> &lt;!&ndash; 버튼을 감싸는 div 생성 &ndash;&gt;-->
<!--                        <button onclick="location.href='/content/mypage/getter-spons-details'" class="button-detail"> 상세조회</button>-->
<!--                        <button class="button-support-cancel">후원철회</button>-->
<!--                    </div>-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="image-box">-->
<!--                    <p class="support-date">2024-04-25</p>-->
<!--                    <p>후원번호 : <a>12341235</a></p>-->
<!--                    <img th:src="@{/img/product/p1.png}" alt="product1">-->
<!--                    <p class="image-desc">-->
<!--                    <div>-->
<!--                        <a style="font-weight: bold;">[개굴기업]</a><br>-->
<!--                        <a style="font-weight: bold;">알뜰살뜰 모아모아 레인보우 협탁4</a><br>-->
<!--                        <a>· 레인보우 1개</a><br>-->
<!--                        <a>· 70,000원</a><br>-->
<!--                    </div>-->
<!--                    <div class="button-group">-->
<!--                        <button onclick="location.href='/content/mypage/getter-spons-details2'" class="button-detail"> 상세조회</button>-->
<!--                        <button class="button-support-cancel">후원철회</button>-->
<!--                    </div>-->
                    <!-- 후원 철회 모달 창 추가 -->
                    <div id="cancel-modal" class="modal">
                        <div class="modal-content">
                            <h4>후원 철회 사유를 선택하십시오.</h4>
                            <form>
                                <input type="radio" id="simpleChange" name="cancelReason">
                                <label for="simpleChange">단순 변심</label><br>
                                <input type="radio" id="rewardChange" name="cancelReason">
                                <label for="rewardChange">리워드 변경</label><br>
                                <input type="radio" id="deliveryError" name="cancelReason">
                                <label for="deliveryError">배송 오류 및 지체</label><br>
                                <input type="radio" id="other" name="cancelReason">
                                <label for="other">기타(직접 입력)</label><br>
                                <textarea id="otherReason" style="display: none;" placeholder="후원 철회 사유를 입력해 주세요."></textarea>
                            </form>
                            <button id="confirm-btn">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features Area -->
<section class="features-area">
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</section>
</div>

<div th:insert="~{/fragments/footer.html}"></div>

</body>
</html>