<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link th:href="@{/css/mypage.css}" rel="stylesheet">
    <link th:href="@{/css/getter-spons-details.css}" rel="stylesheet">

    <th:block th:include="fragments/common"></th:block>

</head>
<body>

<!-- 헤더 부분 -->
<div th:insert="~{/fragments/header.html}"></div>

<!-- 배너 부분 -->
<section class="banner2-area">
    <div class="container">
        <div class="row fullscreen align-items-center">
            <div class="col-lg-10">
                <div class="banner2-content">
                    <h1 style="font-weight: bold; margin-left: 94px;">마이페이지</h1>
                    <br>
                    <p style="color:white; margin-left: 100px;">마이페이지</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container" style="border-top: 1px solid lightgray; margin-top: 15px;">
    <br>
    <div class="row">
        <div class="col-lg-3">

            <div th:insert="~{/fragments/sidebar.html}"></div>

        </div>

        <!-- 후원 후 즉시 생성 후원상세페이지 -->


        <div class="col-lg-8 col-md-8 col-sm-8">
            <a style="margin-bottom: 20px; font-size: 18px;">나의 후원 내역 &gt; 후원내역 &gt; <b>상세조회</b></a>

            <p class="title" style="font-size: 14px; font-weight: bold; margin-top: 10px;" th:text="'후원 ' + ${ plgDetails.plgDttm }">후원 <!--후원일 불러옴-->2024-02-21</p>

            <div class="image-box">
                <img th:src="@{|/upload/${plgDetails.fndSaveFile}|}" alt="product1">
                <p class="image-desc">
                <div>
                    <strong class="info-item">펀딩명 </strong><a th:text="': ' + ${ plgDetails.fndName }">: [개굴기업] 알뜰살뜰 모아모아 레인보우 협탁</a><br>
                    <strong class="info-item">선물명 </strong><a th:text="': ' + ${ plgDetails.giftName }">: 레인보우 협탁</a><br>
                    <strong class="info-item">제품 수량 </strong><a th:text="': ' + ${ plgDetails.giftQty }">: 1개</a><br>
                    <strong class="info-item">후원 금액 </strong><a th:text="': ' + ${ plgDetails.plgPrice }">: 70,000원</a><br>
                    <strong class="info-item">펀딩 종료일 </strong><a th:text="': ' + ${ plgDetails.fndEndDt }">: 2024-04-24</a>
                </div>
            </div>

            <p class="title" style="font-size: 14px; font-weight: bold; margin-top: 50px;">배송조회</p>
            <div class="deliv-info-container">
<!--                <div id="deliv-status">선물준비중</div>-->
                <div id="deliv-status">
                    <span th:if="${plgDetails.trackingNo == null}">선물 준비중</span>
                    <span th:if="${plgDetails.trackingNo != null}">배송중</span>
                </div>


                <div class="deliv-info">
                    <span style="font-weight: bold;">우체국</span> : <span style="font-weight: normal;" th:text="${ plgDetails.trackingNo }"></span>
                </div>
                <button id="deliv-select" onclick="window.open('https://service.epost.go.kr/trace.RetrieveDomRigiTraceList.comm?displayHeader=N&sid1=[#TRACKING_NO]')">택배사 배송조회</button>

                <p style="font-size: 14px; color: #000; font-weight: bold; margin-top: 20px;">배송지 정보</p>

                <div class="deliv-recipient">
                    <div class="item"><span class="label">주소</span> <span class="content" th:text="${ plgDetails.userAdd }"> 서울 종로구 인사동길12 대일빌딩, 7층 10강의실</span></div>
                    <div class="item"><span class="label">받는사람</span> <span class="content" th:text="${plgDetails.userName}"> 홍길동</span></div>
                    <div class="item"><span class="label">전화번호</span> <span class="content" th:text="${ plgDetails.userPhone }"> 010-1234-5678</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features Area -->
<section class="features-area">
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</section>

<div th:insert="~{/fragments/footer.html}"></div>

</body>
</html>
