<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <th:block th:include="fragments/common"></th:block>

    <link th:href="@{/css/mypage.css}" rel="stylesheet">
    <link th:href="@{/css/setter-fndList.css}" rel="stylesheet">
    <script th:src="@{/js/setter-fndList.js}"></script>

</head>
<body>

<!-- 헤더 부분 -->
<div th:insert="~{/fragments/header.html}"></div>

<!-- 배너 부분 -->
<section class="banner2-area">
    <div class="container">
        <div class="row fullscreen align-items-center">
            <div class="col-lg-10">
                <div class="banner2-content">
                    <h1 style="font-weight: bold; margin-left: 94px;">마이페이지</h1>
                    <br>
                    <p style="color:white; margin-left: 100px;">마이페이지</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container" style="border-top: 1px solid lightgray; margin-top: 15px;">
    <br>
    <div class="row">
        <!-- Left Sidebar -->
        <div class="col-lg-3">

            <div th:insert="~{/fragments/sidebar.html}"></div>

        </div>

        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="title-box">
                <button onclick="location.href='/content/mypage/setter-fndList'" style="background-color: #0CC291;">진행 중인 펀딩</button>
                <button onclick="location.href='/content/mypage/setter-audreadyList'">심사 대기중인 펀딩</button>
                <button onclick="location.href='/content/mypage/setter-refuseList'">반려된 펀딩</button>
                <button onclick="location.href='/content/mypage/setter-finishList'">종료된 펀딩</button>
            </div>

            <div class="image-box-group">
                <div class="image-box" th:each="allFnd : ${ allFndList }">
                    <img th:src="@{/img/product/p1.png}" alt="product1">
                    <p class="image-desc">
                    <div>
                        <a style="font-weight: bold;" th:text="${allFnd.fndName}">알뜰살뜰 모아모아 레인보우 협탁1</a><br>
                        <a id="goalAmt" th:text="'목표액 : ' + ${allFnd.goalAmt} + '원'">목표액 : 1,500,000원</a><br>
                    <a id="successAmt"  data-success-amt="${allFnd.successAmt}" th:text="'달성액 : ' + ${allFnd.successAmt} + '원'"><span th:text="${getSuccessAmtByFndCode.successAmt}"></span>달성액 : 900,000원</a><br>
                        <a th:text="'달성률 : ' + ${#numbers.formatDecimal((allFnd.successAmt * 1.0) / allFnd.goalAmt * 100, 0, 0)} + '%'">달성률 : 64%</a><br>
                        <a th:text="'마감일 : ' + ${allFnd.fndEndDt}">마감일 : 2024-05-07</a><br>
                    </div>
                    <div class="button-group">
                        <button class="notice-insert-btn"> 공지사항등록</button>
                        <a style="color: #000000; text-decoration:none; text-align:center;" class="detail-btn" th:href="@{|/content/mypage/setter-funding-history/${allFnd.fndCode}|}">상세조회</a>
                        <button type="button" class="fnd-delete-btn" data-fndcode="${}" onclick="openModal(this)"> 삭제</button>
<!--                        <button type="button" id="fnd-delete-btn" class="fnd-delete-btn" onclick="openModal()"> 삭제</button>-->
                    </div>
                </div>
                </div>
            </div>

            <form>
            <div id="deleteModal" class="modal2">
                <div class="modal-content" style="border: none;">
                    <p style="font-weight: bold">펀딩 삭제</p>
                    <p>펀딩 삭제 시 복구가 불가능합니다.</p>
                    <p>펀딩 삭제를 진행하시겠습니까?</p>
                    <div class="modal-button2" style="justify-content: center;">
                    <button type="submit" id="confirmDelete">확인</button>
                    <button type="button" id="cancelDelete" onclick="closeModal()">취소</button>
                    </div>
                </div>
            </div>
            </form>

        </div>
    </div>

    <!-- Features Area -->
    <section class="features-area">
        <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        </div>
    </section>

<div th:insert="~{/fragments/footer.html}"></div>

</body>
</html>