<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <th:block th:include="fragments/common"></th:block>

    <link th:href="@{/css/mypage.css}" rel="stylesheet">
    <link th:href="@{/css/setter-refuseList.css}" rel="stylesheet">
    <script th:src="@{/js/setter-refuseList.js}"></script>

</head>
<body>

<!-- 헤더 부분 -->
<div th:insert="~{/fragments/header.html}"></div>

<!-- 배너 부분 -->
<section class="banner2-area">
    <div class="container">
        <div class="row fullscreen align-items-center">
            <div class="col-lg-10">
                <div class="banner2-content">
                    <h1 style="font-weight: bold; margin-left: 94px;">마이페이지</h1>
                    <br>
                    <p style="color:white; margin-left: 100px;">마이페이지</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container" style="border-top: 1px solid lightgray; margin-top: 15px;">
    <br>
    <div class="row">
        <!-- Left Sidebar -->
        <div class="col-lg-3">

            <div th:insert="~{/fragments/sidebar.html}"></div>

        </div>

        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="title-box">
                <button onclick="location.href='/content/mypage/setter-fndList'">진행 중인 펀딩</button>
                <button onclick="location.href='/content/mypage/setter-audreadyList'">심사 대기중인 펀딩</button>
                <button onclick="location.href='/content/mypage/setter-refuseList'" style="background-color: #0CC291;">반려된 펀딩</button>
                <button onclick="location.href='/content/mypage/setter-finishList'">종료된 펀딩</button>
            </div>

            <div class="image-box-group">
                <div class="image-box" th:each="refuse : ${ refuseList }">
                    <p hidden="hidden" data-fndCode="${refuse.fndCode}"></p>
                    <p hidden="hidden" data-userId="${refuse.userId}"></p>
                    <p hidden="hidden" data-fndInsertDttm="${refuse.fndInsertDttm}"></p>
                    <img th:src="@{|/upload/${refuse.fndSaveFile}|}" alt="product1">
                    <p class="image-desc">
                    <div>
                        <a style="font-weight: bold;" th:text="${refuse.fndName}">알뜰살뜰 모아모아 레인보우 협탁1</a><br>
                        <a id="goalAmt" th:text="'목표액 : ' + ${refuse.goalAmt} + '원'">목표액 : 1,500,000원</a><br>
                        <a th:text="'마감일 : ' + ${refuse.fndEndDt}">마감일 : 2024-05-07</a><br>
                    </div>
                    <div class="button-group">
                        <button style="color: #000000; text-decoration:none; text-align:center;" id="inquiry-btn" class="inquiry"  onclick="openInquiryModal(this)" data-fndCode="${refuse.fndCode}" data-userId="${refuse.userId}">심사관련문의하기</button>
                    </div>

                </div>



                <!-- 모달창 -->
                <div id="inquiry-modal" class="inquiry-modal">
                    <div class="modal-content">
                        <h4>문의 등록</h4>
                        <span id="close-inquiry-btn" onclick="closeModal()">&times;</span>  <!-- x를 나타내는 문자유니코드 U+00D7 -->
                        <form th:action="@{/content/mypage/insertInq}" method="post">
                            <div class="inquiry-content">

                                <div class="contract">
                                    <p id="modal-fndCode">펀딩번호</p>
                                    <input type="text" id="insert-fndCode" class="text-box1"  name="fndCode" readonly>
                                </div>
                                <div class="contract">
                                    <p id="modal-userId" >작성자</p>
                                    <input type="text" id="insert-userId" class="text-box2"  name="userId" readonly>
                                </div>
                                <div class="contract">
                                    <p id="modal-title" >제목</p>
                                    <input type="text" id="insert-title" class="text-box3"  name="inqTitle">
                                </div>
                                <div class="contract">
                                    <p id="modal-dateTime" >작성날짜</p>
                                    <input type="text" id="insert-dateTime" class="text-box4"  name="inqInsertDttm" readonly>
                                </div>
                                <div class="contract">
                                    <p id="modal-file" >첨부파일</p>
                                    <input type="file" id="insert-file" class="text-box5"  name="inqFile">
                                </div>
                                <div class="contract">
                                    <p id="insert-text">내용</p>
                                    <textarea id="insert-content" class="textCont" name="inqCont"></textarea>
                                </div>
                            </div>
                        </form>
                        <div class="insert-inquiry" style="justify-content: center;">
                            <button type="submit" id="insert-confirm-btn" style="width: 120px">등록하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- Features Area -->
    <section class="features-area">
        <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        </div>
    </section>

<div th:insert="~{/fragments/footer.html}"></div>

</body>
</html>