<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <th:block th:include="fragments/common"></th:block>

    <link th:href="@{/css/mypage.css}" rel="stylesheet">
    <link th:href="@{/css/setter-audreadyList.css}" rel="stylesheet">
<!--    <script th:src="@{/js/getter-ongoing.js}"></script>-->

</head>
<body>

<!-- 헤더 부분 -->
<div th:insert="~{/fragments/header.html}"></div>

<!-- 배너 부분 -->
<section class="banner2-area">
    <div class="container">
        <div class="row fullscreen align-items-center">
            <div class="col-lg-10">
                <div class="banner2-content">
                    <h1 style="font-weight: bold; margin-left: 94px;">마이페이지</h1>
                    <br>
                    <p style="color:white; margin-left: 100px;">마이페이지</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container" style="border-top: 1px solid lightgray; margin-top: 15px;">
    <br>
    <div class="row">
        <!-- Left Sidebar -->
        <div class="col-lg-3">

            <div th:insert="~{/fragments/sidebar.html}"></div>

        </div>

        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="title-box">
                <button onclick="location.href='/content/mypage/setter-fndList'">진행 중인 펀딩</button>
                <button onclick="location.href='/content/mypage/setter-audreadyList'">심사 대기중인 펀딩</button>
                <button onclick="location.href='/content/mypage/setter-refuseList'">반려된 펀딩</button>
                <button onclick="location.href='/content/mypage/setter-finishList'"  style="background-color: #0CC291;">종료된 펀딩</button>
            </div>

            <div class="image-box-group">
                <div class="image-box" th:each="finish : ${ finishList }">
                    <img th:src="@{/img/product/p1.png}" alt="product1">
                    <p class="image-desc">
                    <div>
                        <a style="font-weight: bold;" th:text="${finish.fndName}">알뜰살뜰 모아모아 레인보우 협탁1</a><br>
                        <a id="goalAmt" th:text="'목표액 : ' + ${finish.goalAmt} + '원'">목표액 : 1,500,000원</a><br>
                        <a th:text="'달성액 : ' + ${finish.successAmt} + '원'"></a><br>
                        <a th:text="'달성률 : ' + ${#numbers.formatDecimal((finish.successAmt * 1.0) / finish.goalAmt * 100, 0, 0)} + '%'">마감일 : 2024-05-07</a><br>
                        <a th:text="'마감일 : ' + ${finish.fndEndDt}">마감일 : 2024-05-07</a><br>
                    </div>
                </div>


                <!--                        <button type="button" class="detail-btn" data-fnd-code="${allFnd.fndCode}">상세조회</button>-->

                <!--                <div class="image-box" th:if="${allPlgList != null}" th:each="allPlg : ${allPlgList}">-->
<!--                    <p class="support-date" th:text="${allPlg.plgDttm}">2024-04-25</p>-->
<!--                    <p>후원번호 : <a th:text="${allPlg.plgCode}">12341235</a></p>-->
<!--                    <img th:src="@{/img/product/p1.png}" alt="product1">-->
<!--                    <p class="image-desc">-->
<!--                    <div th:each="fundingInfo : ${ allPlg.fundingInfo }">-->
<!--                        <a style="font-weight: bold;" th:text="${fundingInfo.fndName}">[개굴기업] 알뜰살뜰 모아모아 레인보우 협탁1</a><br>-->
<!--                        <a  th:each="gift : ${allPlg.gift}"-->
<!--                            th:text="'· ' + ${gift.giftName}">· 레인보우</a>-->
<!--                        <a th:text="${allPlg.giftQty} + '개'">1개</a><br>-->
<!--                        <a th:text="'· ' + ${allPlg.plgPrice} + '원'">· 70,000원</a><br>-->
<!--                    </div>-->
<!--                    <div class="button-group">-->
<!--                        <button type="button"  th:attr="onclick=|location.href='/content/mypage/getter-spons-details1?plgCode=' + ${allPlg.plgCode}|" class="button-detail"> 상세조회</button>-->
<!--&lt;!&ndash;                        <button type="button" onclick="location.href='/content/mypage/getter-spons-details1'" class="button-detail"> 상세조회</button>&ndash;&gt;-->
<!--                        <button type="button" class="button-support-cancel" id="cancel-btn">후원철회</button>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>

    <!-- Features Area -->
    <section class="features-area">
        <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        </div>
    </section>

<div th:insert="~{/fragments/footer.html}"></div>

</body>
</html>