<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <th:block th:include="fragments/common"></th:block>

    <link th:href="@{/css/mypage.css}" rel="stylesheet">
    <link th:href="@{/css/setter-audreadyList.css}" rel="stylesheet">
    <script th:src="@{/js/setter-refuseList.js}"></script>

</head>
<body>

<!-- 헤더 부분 -->
<div th:insert="~{/fragments/header.html}"></div>

<!-- 배너 부분 -->
<section class="banner2-area">
    <div class="container">
        <div class="row fullscreen align-items-center">
            <div class="col-lg-10">
                <div class="banner2-content">
                    <h1 style="font-weight: bold; margin-left: 94px;">마이페이지</h1>
                    <br>
                    <p style="color:white; margin-left: 100px;">마이페이지</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container" style="border-top: 1px solid lightgray; margin-top: 15px;">
    <br>
    <div class="row">
        <!-- Left Sidebar -->
        <div class="col-lg-3">

            <div th:insert="~{/fragments/sidebar.html}"></div>

        </div>

        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="title-box">
                <button onclick="location.href='/content/mypage/setter-fndList'">진행 중인 펀딩</button>
                <button onclick="location.href='/content/mypage/setter-audreadyList'">심사 대기중인 펀딩</button>
                <button onclick="location.href='/content/mypage/setter-refuseList'" style="background-color: #0CC291;">반려된 펀딩</button>
                <button onclick="location.href='/content/mypage/setter-finishList'">종료된 펀딩</button>
            </div>

            <div class="image-box-group">
                <div class="image-box" th:each="refuse : ${ refuseList }">
                    <img th:src="@{/img/product/p1.png}" alt="product1">
                    <p class="image-desc">
                    <div>
                        <a style="font-weight: bold;" th:text="${refuse.fndName}">알뜰살뜰 모아모아 레인보우 협탁1</a><br>
                        <a id="goalAmt" th:text="'목표액 : ' + ${refuse.goalAmt} + '원'">목표액 : 1,500,000원</a><br>
                        <a th:text="'마감일 : ' + ${refuse.fndEndDt}">마감일 : 2024-05-07</a><br>
                    </div>
                    <div class="button-group">
                        <a style="color: #000000; text-decoration:none; text-align:center;" class="inquiry">심사관련문의하기</a>
                    </div>
                </div>



                </div>
            </div>
        </div>
    </div>

    <!-- Features Area -->
    <section class="features-area">
        <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        </div>
    </section>

<div th:insert="~{/fragments/footer.html}"></div>

</body>
</html>