<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.revelup.audit.model.dao.AuditMapper">

    <resultMap id="audit" type="com.revelup.audit.model.dto.AuditDTO">
        <id property="fndCode" column="FND_CODE"/>
        <result property="fndInsertDttm" column="FND_INSERT_DTTM"/>
        <result property="auditStat" column="AUDIT_STAT"/>
        <result property="auditApprDt" column="AUDIT_APPR_DT"/>
    </resultMap>

    <select id="auditList" resultMap="audit">
        SELECT  FND_CODE
                ,FND_INSERT_DTTM
                ,AUDIT_STAT
                ,AUDIT_APPR_DT
          FROM AUD
    </select>

</mapper>