<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.revelup.mypage.model.dao.MypageMapper">


    <resultMap id="login" type="com.revelup.user.model.dto.LoginUserDTO">
        <id property="userId" column="USER_ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="userPw" column="USER_PW"/>
        <result property="userPhone" column="USER_PHONE"/>
        <result property="userAdd" column="USER_ADD"/>
        <result property="userEmail" column="USER_EMAIL"/>
        <result property="userRole" column="USER_ROLE"/>
    </resultMap>

    <!--    FND_INFO ResultMap 펀딩정보 -->
    <resultMap id="fndInfoResultMap" type="com.revelup.funding.model.dto.FundingInfoDTO">
        <id property="fndCode" column="FND_CODE" />
        <result property="userId" column="USER_ID" />
        <result property="fndName" column="FND_NAME" />
        <result property="fndEndDt" column="FND_END_DT" />
        <result property="goalAmt" column="GOAL_AMT" />
        <result property="fndDescr" column="FND_DESCR" />
        <result property="successAmt" column="SUCCESS_AMT" />
        <result property="fndSaveFile" column="FND_SAVE_FILE" />
        <result property="fndDelYn" column="FND_DEL_YN" />
        <result property="fndPrgStat" column="FND_PRG_STAT" />
        <result property="auditStat" column="AUDIT_STAT" />
        <result property="auditApprDt" column="AUDIT_APPR_DT" />
        <result property="giftName" column="GIFT_NAME" />
    </resultMap>

    <!--    fnd_file ResultMap 펀딩 파일 -->
    <resultMap id="fndFile" type="com.revelup.funding.model.dto.FundingFileDTO" >
        <id property="fileCode" column="FILE_CODE" />
        <result property="fndCode" column="FND_CODE" />
        <result property="fndFileLoc" column="FND_FILE_LOC" />
        <result property="fndOrgFile" column="FND_ORG_FILE" />
        <result property="fndSaveFile" column="FND_SAVE_FILE" />
        <result property="fileDiv" column="FILE_DIV" />
        <result property="fileAttached" column="FILE_ATTACHED" />
    </resultMap>

    <!--    aud ResultMa 심사 -->
    <resultMap id="audResultMap" type="com.revelup.audit.model.dto.AuditDTO">
        <id property="fndCode" column="FND_CODE" />
        <result property="auditStat" column="AUDIT_STAT" />
        <result property="fndInsertDttm" column="FND_INSERT_DTTM" />
        <result property="auditApprDt" column="AUDIT_APPR_DT" />
    </resultMap>

    <!--    gift ResultMap 선물 -->
    <resultMap id="giftResultMap" type="com.revelup.funding.model.dto.GiftDTO">
        <id property="fndCode" column="FND_CODE" />
        <result property="giftPrice" column="GIFT_PRICE" />
        <result property="giftName" column="GIFT_NAME" />
        <result property="giftProdQty" column="GIFT_PROD_QTY" />
        <association property="fndNo" resultMap="fndInfoResultMap" />
    </resultMap>

    <!-- 배송 ResultMap -->
    <resultMap id="delivResultMap" type="com.revelup.funding.model.dto.DeliveryDTO">
        <id property="plgCode" column="PLG_CODE" />
        <result property="delivStat" column="DELIV_STAT" />
        <result property="trackingNo" column="TRACKING_NO" />
    </resultMap>

    <!-- 문의 ResultMap -->
    <resultMap id="inquiryResultMap" type="com.revelup.funding.model.dto.InquiryDTO">
        <id property="inqCode" column="INQ_CODE" />
        <result property="fndCode" column="FND_CODE" />
        <result property="inqTitle" column="INQ_TITLE" />
        <result property="inqCont" column="INQ_CONT" />
        <result property="inqInsertDttm" column="INQ_INSERT_DTTM" />
        <result property="inqEmail" column="INQ_EMAIL" />
        <result property="inqAns" column="INQ_ANS" />
    </resultMap>

    <!-- 문의파일 ResultMap -->
    <resultMap id="inquiryFileResultMap" type="com.revelup.funding.model.dto.InquiryFileDTO">
        <id property="fileCode" column="FILE_CODE" />
        <result property="inqCode" column="INQ_CODE" />
        <result property="inqFileLoc" column="INQ_FILE_LOC" />
        <result property="inqOrgFile" column="INQ_ORG_FILE" />
        <result property="inqSaveFile" column="INQ_SAVE_FILE" />
    </resultMap>

    <!--    PLG ResultMap 후원 -->
    <resultMap id="payResultMap" type="com.revelup.pay.model.dto.PayDTO">
        <id property="plgCode" column="PLG_CODE" />
        <result property="userId" column="USER_ID" />
        <result property="fndCode" column="FND_CODE" />
        <result property="fndSaveFile" column="FND_SAVE_FILE" />
        <result property="giftQty" column="GIFT_QTY" />
        <result property="plgDttm" column="PLG_DTTM" />
        <result property="plgPrice" column="PLG_PRICE" />
        <result property="plgCanDt" column="PLG_CAN_DT" />
        <collection property="delivery" resultMap="delivResultMap" />
        <collection property="login" resultMap="login"/>
        <collection property="gift" resultMap="giftResultMap" />
        <collection property="fundingInfo" resultMap="fndInfoResultMap" />
    </resultMap>

<!--        PLG ResultMap 후원 -->
    <resultMap id="twoPlgResultMap" type="com.revelup.pay.model.dto.PayDTO">
        <id property="plgCode" column="PLG_CODE" />
        <result property="userId" column="USER_ID" />
        <result property="fndCode" column="FND_CODE" />
        <result property="fndSaveFile" column="FND_SAVE_FILE" />
        <result property="giftQty" column="GIFT_QTY" />
        <result property="plgDttm" column="PLG_DTTM" />
        <result property="plgPrice" column="PLG_PRICE" />
        <result property="fndName" column="FND_NAME" />
        <result property="giftName" column="GIFT_NAME" />
        <result property="fndEndDt" column="FND_END_DT" />
        <result property="trackingNo" column="TRACKING_NO" />
        <result property="delivStat" column="DELIV_STAT" />
        <result property="userAdd" column="USER_ADD" />
        <result property="userName" column="USER_NAME" />
        <result property="userPhone" column="USER_PHONE" />
    </resultMap>

    <insert id="insertInq" parameterType="com.revelup.funding.model.dto.InquiryDTO">
        INSER INTO INQ (
                        FND_CODE
                        , INQ_TITLE
                        , INQ_CONT
                        , INQ_INSERT_DTTM
                        )
        VALUES(
                #{fndCode}
                ,#{inqTitle}
                ,#{inqCont}
                , now()
        )
    </insert>

    <insert id="insertInqFile" parameterType="com.revelup.funding.model.dto.InquiryFileDTO">
        INSERT INTO INQ_FILE (
                                INQ_CODE
                                ,INQ_FILE_LOC
                                ,INQ_ORG_FILE
                                ,INQ_SAVE_FILE
                              )
        VALUES(
                #{inqCode}
                ,#{inqFileLoc}
                ,#{inqOrgFile}
                ,#{inqSaveFile}
        )
    </insert>

    <!-- 운송장번호 UPDATE -->
    <update id="updateTrackingNo" parameterType="com.revelup.funding.model.dto.DeliveryDTO">
        UPDATE DELIV
           SET TRACKING_NO = #{ trackingNo }
               ,DELIV_STAT = 'S'
         WHERE PLG_CODE = #{ plgCode }
        <!--         WHERE FND_CODE = #{ fndCode }-->
    </update>

    <!-- 후원내역조회 후원내역 -->
    <select id="selectAllPlgList" resultMap="payResultMap">
        SELECT
                P.PLG_CODE
                ,P.PLG_DTTM
                ,FIF.FND_SAVE_FILE
                ,F.FND_CODE
                ,F.FND_NAME
                ,G.GIFT_NAME
                ,p.GIFT_QTY
                ,G.GIFT_PRICE
                ,P.PLG_PRICE
                ,D.DELIV_STAT
          FROM PLG P
          JOIN DELIV D ON P.PLG_CODE = D.PLG_CODE
          JOIN FND_INFO F ON P.FND_CODE = F.FND_CODE
          JOIN FND_INSERT_FILE FIF ON F.FND_CODE = FIF.FND_CODE
          JOIN GIFT G ON G.FND_CODE = F.FND_CODE
          JOIN USER U ON P.USER_ID = U.USER_ID
         WHERE F.FND_PRG_STAT = 'L' AND P.USER_ID = #{userId} AND FIF.FILE_DIV = 'T'
    </select>


    <!-- 후원내역조회 후원철회 -->
    <select id="selectRefundList" resultMap="payResultMap">
        SELECT
                P.PLG_CAN_DT
                ,P.PLG_CODE
                ,F.FND_CODE
                ,F.FND_NAME
                ,FIF.FND_SAVE_FILE
                ,G.GIFT_NAME
                ,p.GIFT_QTY
                ,G.GIFT_PRICE
                ,P.PLG_PRICE
          FROM PLG P
          JOIN FND_INFO F ON P.FND_CODE = F.FND_CODE
          JOIN FND_INSERT_FILE FIF ON F.FND_CODE = FIF.FND_CODE
          JOIN GIFT G ON G.FND_CODE = F.FND_CODE
         WHERE F.FND_PRG_STAT = 'C' AND P.USER_ID = #{userId} AND FIF.FILE_DIV = 'T'
    </select>

    <!-- 후원내역조회 미달성 -->
    <select id="selectFailFndList" resultMap="payResultMap">
        SELECT
                P.PLG_DTTM
                ,P.PLG_CODE
                ,F.FND_NAME
                ,FIF.FND_SAVE_FILE
                ,G.GIFT_NAME
                ,p.GIFT_QTY
                ,P.PLG_PRICE
                ,F.FND_PRG_STAT
          FROM PLG P
          JOIN FND_INFO F ON P.FND_CODE = F.FND_CODE
          JOIN FND_INSERT_FILE FIF ON F.FND_CODE = FIF.FND_CODE
          JOIN GIFT G ON G.FND_CODE = F.FND_CODE
         WHERE F.FND_PRG_STAT = 'U' AND P.USER_ID = #{userId} AND FIF.FILE_DIV = 'T';
    </select>

    <!-- 후원내역조회 상세조회 -->
    <select id="selectOne" resultMap="twoPlgResultMap">
        SELECT
                P.PLG_DTTM
                , FIF.FND_SAVE_FILE
                , F.FND_NAME
                , G.GIFT_NAME
                , P.GIFT_QTY
                , P.PLG_PRICE
                , F.FND_END_DT
                , D.TRACKING_NO
                , U.USER_ADD
                , U.USER_NAME
                , U.USER_PHONE
          FROM PLG P
          JOIN USER U ON P.USER_ID = U.USER_ID
          JOIN DELIV D ON P.PLG_CODE = D.PLG_CODE
          JOIN FND_INFO F ON P.FND_CODE = F.FND_CODE
          JOIN FND_INSERT_FILE FIF ON F.FND_CODE = FIF.FND_CODE
          JOIN GIFT G ON G.FND_CODE = F.FND_CODE
         WHERE P.PLG_CODE = #{plgCode} AND FIF.FILE_DIV = 'T'
    </select>

    <!-- 후원내역조회 상세조회 -->
    <select id="selectByOne" resultMap="twoPlgResultMap">
        SELECT
                P.PLG_DTTM
                , F.FND_NAME
                , FIF.FND_SAVE_FILE
                , G.GIFT_NAME
                , P.GIFT_QTY
                , P.PLG_PRICE
                , F.FND_END_DT
                , D.DELIV_STAT
                , D.TRACKING_NO
                , U.USER_ADD
                , U.USER_NAME
                , U.USER_PHONE
          FROM PLG P
          JOIN USER U ON P.USER_ID = U.USER_ID
          JOIN DELIV D ON P.PLG_CODE = D.PLG_CODE
          JOIN FND_INFO F ON P.FND_CODE = F.FND_CODE
          JOIN FND_INSERT_FILE FIF ON F.FND_CODE = FIF.FND_CODE
          JOIN GIFT G ON G.FND_CODE = F.FND_CODE
         WHERE P.PLG_CODE = #{plgCode} AND FIF.FILE_DIV = 'T'
    </select>

<!-- 달성액 가져오는 방법 -->
    <select id="getSuccessAmtByFndCode" resultMap="fndInfoResultMap">
        SELECT SUCCESS_AMT
          FROM FND_INFO
         WHERE FND_CODE = #{fndCode}
    </select>

    <!-- 세터 진행중인 펀딩 -->
    <select id="allFndList" resultMap="fndInfoResultMap">
        SELECT
                F.FND_CODE
                ,F.FND_NAME
                ,FIF.FND_SAVE_FILE
                ,F.GOAL_AMT
                ,F.SUCCESS_AMT
                ,F.FND_END_DT
                ,A.AUDIT_STAT
          FROM FND_INFO F
          JOIN FND_INSERT_FILE FIF ON F.FND_CODE = FIF.FND_CODE
          JOIN AUD A ON F.FND_CODE = A.FND_CODE
         WHERE A.AUDIT_STAT = 'A' AND F.USER_ID = #{userId} AND FIF.FILE_DIV = 'T'
<!--        AND REPLACE(F.FND_END_DT, '-', '') <![CDATA[ < ]]>  REPLACE(CURRENT_DATE(), '-', '')-->
    </select>

    <update id="accumulateSuccessAmt" parameterType="com.revelup.funding.model.dto.FundingInfoDTO">
        UPDATE FND_INFO
        SET SUCCESS_AMT = SUCCESS_AMT + #{successAmt}
        WHERE FND_CODE = #{fndCode}
    </update>

    <!-- 세터 펀딩내역 공지사항 -->
    <select id="sttrOneFnd" resultMap="fndInfoResultMap">
        SELECT
                A.AUDIT_APPR_DT
                ,F.FND_CODE
                ,F.FND_NAME
                ,G.GIFT_NAME
                ,F.GOAL_AMT
                ,F.SUCCESS_AMT
                ,F.FND_END_DT
          FROM FND_INFO F
          JOIN AUD A ON A.FND_CODE = F.FND_CODE
          JOIN GIFT G ON G.FND_CODE = F.FND_CODE
         WHERE F.FND_CODE = #{fndCode}

    </select>

    <!-- 세터 펀딩내역 상세조회(펀딩) -->
    <select id="sttrSelectOneFnd" resultMap="fndInfoResultMap">
        SELECT
                A.AUDIT_APPR_DT
                ,F.FND_CODE
                ,F.FND_NAME
                ,FIF.FND_SAVE_FILE
                ,G.GIFT_NAME
                ,F.GOAL_AMT
                ,F.SUCCESS_AMT
                ,F.FND_END_DT
          FROM FND_INFO F
          JOIN AUD A ON A.FND_CODE = F.FND_CODE
          JOIN FND_INSERT_FILE FIF ON F.FND_CODE = FIF.FND_CODE
          JOIN GIFT G ON G.FND_CODE = F.FND_CODE
         WHERE F.FND_CODE = #{fndCode} AND FIF.FILE_DIV = 'T'
    </select>

    <!-- 세터 펀딩내역 상세조회(후원자) -->
    <select id="plgList" resultMap="payResultMap">
        SELECT
                P.PLG_CODE
                , U.USER_NAME
                , P.PLG_PRICE
                , P.PLG_DTTM
                , F.FND_END_DT
                , U.USER_ADD
                , D.DELIV_STAT
                , D.TRACKING_NO
          FROM PLG P
          JOIN USER U ON P.USER_ID = U.USER_ID
          JOIN DELIV D ON P.PLG_CODE = D.PLG_CODE
          JOIN FND_INFO F ON P.FND_CODE = F.FND_CODE
         WHERE F.FND_CODE = #{fndCode}
    </select>

<!--     <delete id="deleteFnd" parameterType="Long">
   -->
    <delete id="deleteFnd" parameterType="com.revelup.funding.model.dto.FundingInfoDTO">
        DELETE
          FROM FND_INFO
         WHERE FND_CODE = #{ fndCode }
    </delete>

    <delete id="deleteAud" parameterType="com.revelup.audit.model.dto.AuditDTO">
        DELETE
        FROM AUD
        WHERE FND_CODE = #{ fndCode }
    </delete>


<!--    해당 값 없음-->
<!--    <delete id="deleteRpt" parameterType="com.revelup.report.model.dto.ReportDTO">-->
<!--        DELETE-->
<!--        FROM RPT-->
<!--        WHERE FND_CODE = #{ fndCode }-->
<!--    </delete>-->

    <delete id="deleteFndFile" parameterType="com.revelup.funding.model.dto.FundingFileDTO">
        DELETE
          FROM FND_INSERT_FILE
         WHERE FND_CODE = #{ fndCode }
    </delete>

<!--    정산 dto 없음,,, -->
<!--    <delete id="deleteStlmt" parameterType="com.revelup.pay.model.dto.">-->
<!--        DELETE-->
<!--        FROM STLMT_LIST-->
<!--        WHERE FND_CODE = #{ fndCode }-->
<!--    </delete>-->

    <delete id="deleteGift" parameterType="com.revelup.funding.model.dto.GiftDTO">
        DELETE
        FROM GIFT
        WHERE FND_CODE = #{ fndCode }
    </delete>

    <delete id="deletePlg" parameterType="com.revelup.pay.model.dto.PayDTO">
        DELETE
        FROM PLG
        WHERE FND_CODE = #{ fndCode }
    </delete>

    <!-- 세터 심사 대기중인 펀딩 -->
    <select id="audReadyList" resultMap="fndInfoResultMap">
        SELECT
                F.FND_CODE
                ,F.FND_NAME
                ,FIF.FND_SAVE_FILE
                ,F.GOAL_AMT
                ,F.FND_END_DT
                ,A.AUDIT_STAT
          FROM FND_INFO F
          JOIN AUD A ON A.FND_CODE = F.FND_CODE
          JOIN FND_INSERT_FILE FIF ON F.FND_CODE = FIF.FND_CODE
         WHERE A.AUDIT_STAT = 'P' AND F.USER_ID = #{userId} AND FIF.FILE_DIV = 'T'
    </select>

    <!-- 세터 반려된 펀딩 -->
    <select id="refuseList" resultMap="fndInfoResultMap">
        SELECT
               F.FND_CODE
               ,F.USER_ID
               ,F.FND_NAME
               ,FIF.FND_SAVE_FILE
               ,F.GOAL_AMT
               ,F.FND_END_DT
               ,F.USER_ID
          FROM FND_INFO F
          JOIN AUD A ON A.FND_CODE = F.FND_CODE
          JOIN FND_INSERT_FILE FIF ON F.FND_CODE = FIF.FND_CODE
         WHERE A.AUDIT_STAT = 'D' AND F.USER_ID = #{userId} AND FIF.FILE_DIV = 'T'
    </select>

    <!-- Inserting inquiry into database -->
    <insert id="inqFnd" parameterType="com.revelup.funding.model.dto.InquiryDTO">
        INSERT INTO INQ (   FND_CODE
                            , INQ_TITLE
                            , INQ_CONT
                            , INQ_INSERT_DTTM
                        )
        VALUES (    #{fndCode}
                    , #{inqTitle}
                    , #{inqCont}
                    , now()
                )
    </insert>

    <!-- 세터 종료된 펀딩 -->
    <select id="finishList" resultMap="fndInfoResultMap">
        SELECT
                F.FND_CODE
                ,F.FND_NAME
                ,FIF.FND_SAVE_FILE
                ,F.GOAL_AMT
                ,F.SUCCESS_AMT
                ,F.FND_END_DT
          FROM FND_INFO F
          JOIN FND_INSERT_FILE FIF ON F.FND_CODE = FIF.FND_CODE
         WHERE F.FND_PRG_STAT = 'E' AND F.USER_ID = #{userId} AND FIF.FILE_DIV = 'T'
    </select>


<!--    <update id="finishUpdateStat" parameterType="com.revelup.funding.model.dto.FundingInfoDTO">-->
<!--        UPDATE FND_INFO-->
<!--        SET FND_PRG_STAT = 'E'-->
<!--        WHERE FND_CODE = #{ fndCode }-->
<!--        AND FND_END_DT lt now()-->
<!--    </update>-->

    <update id="updateFundingStatusToE">
        UPDATE FND_INFO
        SET FND_PRG_STAT = 'E'
        WHERE FND_CODE = #{fndCode}
    </update>

    <select id="getFinishList" resultMap="fndInfoResultMap">
        SELECT
        FND_CODE,
        FND_END_DT
        FROM FND_INFO
        WHERE FND_END_DT lt NOW()
    </select>

</mapper>
