<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.revelup.mypage.model.dao.MypageMapper">


    <resultMap id="login" type="com.revelup.user.model.dto.LoginUserDTO">
        <id property="userId" column="USER_ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="userPw" column="USER_PW"/>
        <result property="userPhone" column="USER_PHONE"/>
        <result property="userAdd" column="USER_ADD"/>
        <result property="userEmail" column="USER_EMAIL"/>
        <result property="userRole" column="USER_ROLE"/>
    </resultMap>

    <!--    FND_INFO ResultMap 펀딩정보 -->
    <resultMap id="fndInfoResultMap" type="com.revelup.funding.model.dto.FundingInfoDTO">
        <id property="fndCode" column="FND_CODE" />
        <result property="userId" column="USER_ID" />
        <result property="fndName" column="FND_NAME" />
        <result property="fndEndDt" column="FND_END_DT" />
        <result property="goalAmt" column="GOAL_AMT" />
        <result property="fndDescr" column="FND_DESCR" />
        <result property="successAmt" column="SUCCESS_AMT" />
        <result property="fndDelYn" column="FND_DEL_YN" />
        <result property="fndPrgStat" column="FND_PRG_STAT" />
        <result property="auditApprDt" column="AUDIT_APPR_DT" />
        <result property="giftName" column="GIFT_NAME" />
    </resultMap>

    <!--    fnd_file ResultMap 펀딩 파일 -->
    <resultMap id="fndFile" type="com.revelup.funding.model.dto.FundingFileDTO" >
        <id property="fileCode" column="FILE_CODE" />
        <result property="fndCode" column="FND_CODE" />
        <result property="fndFileLoc" column="FND_FILE_LOC" />
        <result property="fndOrgFile" column="FND_ORG_FILE" />
        <result property="fndSaveFile" column="FND_SAVE_FILE" />
        <result property="fileDiv" column="FILE_DIV" />
    </resultMap>

    <!--    aud ResultMa 심사 -->
    <resultMap id="audResultMap" type="com.revelup.audit.model.dto.AuditDTO">
        <id property="fndCode" column="FND_CODE" />
        <result property="auditStat" column="AUDIT_STAT" />
        <result property="fndInsertDttm" column="FND_INSERT_DTTM" />
        <result property="auditApprDt" column="AUDIT_APPR_DT" />
    </resultMap>

    <!--    gift ResultMap 선물 -->
    <resultMap id="giftResultMap" type="com.revelup.funding.model.dto.GiftDTO">
        <id property="fndCode" column="FND_CODE" />
        <result property="giftPrice" column="GIFT_PRICE" />
        <result property="giftName" column="GIFT_NAME" />
        <result property="giftProdQty" column="GIFT_PROD_QTY" />
        <association property="fndNo" resultMap="fndInfoResultMap" />
    </resultMap>

    <resultMap id="delivResultMap" type="com.revelup.funding.model.dto.DeliveryDTO">
        <id property="plgCode" column="PLG_CODE" />
        <result property="delivStat" column="DELIV_STAT" />
        <result property="trackingNo" column="TRACKING_NO" />
    </resultMap>

    <!--    PLG ResultMap 후원 -->
    <resultMap id="payResultMap" type="com.revelup.pay.model.dto.PayDTO">
        <id property="plgCode" column="PLG_CODE" />
        <result property="userId" column="USER_ID" />
        <result property="fndCode" column="FND_CODE" />
        <result property="giftQty" column="GIFT_QTY" />
        <result property="plgDttm" column="PLG_DTTM" />
        <result property="plgPrice" column="PLG_PRICE" />
        <result property="plgCanDt" column="PLG_CAN_DT" />
        <collection property="delivery" resultMap="delivResultMap" />
        <collection property="login" resultMap="login"/>
        <collection property="gift" resultMap="giftResultMap" />
        <collection property="fundingInfo" resultMap="fndInfoResultMap" />
    </resultMap>

<!--        PLG ResultMap 후원 -->
    <resultMap id="twoPlgResultMap" type="com.revelup.pay.model.dto.PayDTO">
        <id property="plgCode" column="PLG_CODE" />
        <result property="userId" column="USER_ID" />
        <result property="fndCode" column="FND_CODE" />
        <result property="giftQty" column="GIFT_QTY" />
        <result property="plgDttm" column="PLG_DTTM" />
        <result property="plgPrice" column="PLG_PRICE" />
        <result property="fndName" column="FND_NAME" />
        <result property="giftName" column="GIFT_NAME" />
        <result property="fndEndDt" column="FND_END_DT" />
        <result property="trackingNo" column="TRACKING_NO" />
        <result property="delivStat" column="DELIV_STAT" />
        <result property="userAdd" column="USER_ADD" />
        <result property="userName" column="USER_NAME" />
        <result property="userPhone" column="USER_PHONE" />
    </resultMap>

    <!-- 운송장번호 UPDATE -->
    <update id="updateTrackingNo" parameterType="com.revelup.funding.model.dto.DeliveryDTO">
        UPDATE DELIV
           SET TRACKING_NO = #{ trackingNo }
         WHERE PLG_CODE = #{ plgCode }
        <!--         WHERE FND_CODE = #{ fndCode }-->
    </update>

    <!-- 후원내역조회 후원내역 -->
    <select id="selectAllPlgList" resultMap="payResultMap">
        SELECT
                P.PLG_CODE
                ,P.PLG_DTTM
                ,F.FND_CODE
                ,F.FND_NAME
                ,G.GIFT_NAME
                ,p.GIFT_QTY
                ,G.GIFT_PRICE
                ,P.PLG_PRICE
          FROM PLG P
          JOIN FND_INFO F ON P.FND_CODE = F.FND_CODE
          JOIN GIFT G ON G.FND_CODE = F.FND_CODE
         WHERE F.FND_PRG_STAT = 'L'
    </select>

    <!-- 후원내역조회 후원철회 -->
    <select id="selectRefundList" resultMap="payResultMap">
        SELECT
                P.PLG_CAN_DT
                ,P.PLG_CODE
                ,F.FND_CODE
                ,F.FND_NAME
                ,G.GIFT_NAME
                ,p.GIFT_QTY
                ,G.GIFT_PRICE
                ,P.PLG_PRICE
          FROM PLG P
          JOIN FND_INFO F ON P.FND_CODE = F.FND_CODE
          JOIN GIFT G ON G.FND_CODE = F.FND_CODE
         WHERE F.FND_PRG_STAT = 'C'
    </select>

    <!-- 후원내역조회 미달성 -->
    <select id="selectFailFndList" resultMap="payResultMap">
        SELECT
                P.PLG_DTTM
                ,P.PLG_CODE
                ,F.FND_CODE
                ,F.FND_NAME
                ,G.GIFT_NAME
                ,p.GIFT_QTY
                ,G.GIFT_PRICE
                ,P.PLG_PRICE
                ,F.FND_PRG_STAT
          FROM PLG P
          JOIN FND_INFO F ON P.FND_CODE = F.FND_CODE
          JOIN GIFT G ON G.FND_CODE = F.FND_CODE
         WHERE F.FND_PRG_STAT = 'U'
        <!--        AND USER_ID = #{ userId }-->
    </select>

    <!-- 후원내역조회 상세조회 -->
    <select id="selectOne" resultMap="twoPlgResultMap">
        SELECT
                P.PLG_DTTM
                , F.FND_NAME
                , G.GIFT_NAME
                , P.GIFT_QTY
                , P.PLG_PRICE
                , F.FND_END_DT
                , D.TRACKING_NO
                , U.USER_ADD
                , U.USER_NAME
                , U.USER_PHONE
          FROM PLG P
          JOIN USER U ON P.USER_ID = U.USER_ID
          JOIN DELIV D ON P.PLG_CODE = D.PLG_CODE
          JOIN FND_INFO F ON P.FND_CODE = F.FND_CODE
          JOIN GIFT G ON G.FND_CODE = F.FND_CODE
         WHERE P.PLG_CODE = #{plgCode}
    </select>

    <!-- 세터 펀딩내역 전체조회 -->
    <select id="allFndList" resultMap="fndInfoResultMap">
        SELECT
                FND_CODE
                ,FND_NAME
                ,GOAL_AMT
                ,SUCCESS_AMT
                ,FND_END_DT
          FROM FND_INFO
         WHERE FND_PRG_STAT = 'L'
    </select>

    <!-- 세터 펀딩내역 상세조회(펀딩) -->
    <select id="sttrSelectOneFnd" resultMap="fndInfoResultMap">
        SELECT
                A.AUDIT_APPR_DT
                ,F.FND_CODE
                ,F.FND_NAME
                ,G.GIFT_NAME
                ,F.GOAL_AMT
                ,F.SUCCESS_AMT
                ,F.FND_END_DT
          FROM FND_INFO F
          JOIN AUD A ON A.FND_CODE = F.FND_CODE
          JOIN GIFT G ON G.FND_CODE = F.FND_CODE
         WHERE F.FND_CODE = #{fndCode}
    </select>

    <!-- 세터 펀딩내역 상세조회(후원자) -->
    <select id="plgList" resultMap="payResultMap">
        SELECT
                P.PLG_CODE
                , U.USER_NAME
                , P.PLG_PRICE
                , P.PLG_DTTM
                , F.FND_END_DT
                , U.USER_ADD
                , D.DELIV_STAT
                , D.TRACKING_NO
          FROM PLG P
          JOIN USER U ON P.USER_ID = U.USER_ID
          JOIN DELIV D ON P.PLG_CODE = D.PLG_CODE
          JOIN FND_INFO F ON P.FND_CODE = F.FND_CODE
         WHERE F.FND_CODE = #{fndCode}
    </select>





</mapper>





        <!--        PLG ResultMap 후원 -->
        <!--    <resultMap id="plgResultMap" type="com.revelup.pay.model.dto.PayCompletionDTO">-->
        <!--        <id property="plgCode" column="PLG_CODE" />-->
        <!--        <result property="userId" column="USER_ID" />-->
        <!--        <result property="fndCode" column="FND_CODE" />-->
        <!--        <result property="giftQty" column="GIFT_QTY" />-->
        <!--        <result property="plgDttm" column="PLG_DTTM" />-->
        <!--        <result property="plgPrice" column="PLG_PRICE" />-->
        <!--        <result property="plgCanDt" column="PLG_CAN_DT" />-->
        <!--        <association property="fndName" resultMap="fndInfoResultMap" />-->
        <!--        <association property="deliv" resultMap="delivResultMap" />-->
        <!--        <association property="loginUser" resultMap="login"/>-->
        <!--        <association property="giftName" resultMap="giftResultMap" />-->
        <!--    </resultMap>-->