.row {
    padding-top:50px;
    display: flex;
    justify-content: center; /* 자식 요소 사이의 간격을 최대화하여 오른쪽 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.title-box button {
    background-color: #ccc;
    border: none;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition: background-color 0.3s;
    cursor: pointer;
    border-radius: 15px;  /* 모서리 둥글게 */
    margin-top: 30px;
    margin-right: 10px; /* 버튼 사이의 간격 설정 */
    width: 140px;
    height: 50px;
}

.title-box button:hover {
    background-color: #0CC291;
}

.manager_table {
    border-collapse: collapse;
    width: 100%; /* 테이블의 너비를 부모 요소의 너비에 맞춤 */
}

.manager_table td {
    padding: 1%;
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

/* 페이징 처리 */
div.paging {
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

div.paging > i, div.paging > div.pages {
    margin: 0 10px;
}

div.paging > i, div.paging > div.pages > span {
    margin: 0 3px;
    cursor: pointer;
}

span.active {
    color: red;
    font-weight: bold;
}

.modal {
    display: none; /* 모달창은 기본적으로 숨겨져 있음 */
    position: fixed; /* 스크롤해도 항상 같은 위치에 있음 */
    z-index: 1; /* 다른 요소 위에 나타남 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 너비 */
    height: 100%; /* 전체 높이 */
    overflow: auto; /* 내용이 많을 경우 스크롤 */
    background-color: rgba(0,0,0,0.4); /* 반투명한 검은색 배경 */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 중앙에 위치 */
    padding: 20px;
    height: 1050px;  /* 모달창 높이 */
    border: 1px solid #888;
    width: 50%; /* 모달창의 너비는 부모 요소의 60% */
    text-align: center; /* 내용을 가운데 정렬 */
}

#cancel-btn {
    background-color: red;
    color: #fff;
    border-radius: 15px;  /* 모서리 둥글게 */
    padding: 10px;
    width: 90px;
    border: none;
    margin-right: 15px;
}

#delete-btn:hover, #update-btn:hover {
    transform: scale(1.08); /* 마우스를 갖다대면 버튼이 살짝 커짐 */

}

#approval-btn {
    background-color: #0CC291;
    color: #fff;
    border-radius: 15px;  /* 모서리 둥글게 */
    padding: 10px;
    width: 90px;
    border: none;
    margin-left: 5px;
}

.modal-button {
    text-align: left;
    margin-top: -35px;
    margin-left: 50px;
}

.modal-button input[type="radio"] {
    margin-left: 40px;
}

.modal-button #cancel-btn {
    margin-left: 290px;
}

#close-btn {
    margin-left: 85%;
    color: #aaaaaa;
    float: right;
    font-size: 23px;
    font-weight: bold;
}

#approval-btn:hover,
#approval-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.report-header {
    justify-content: space-between;
    align-items: center;
}

.report-header label {
    width: 10%; /* label의 너비를 설정. 이 값을 조절해 제목과 작성날짜의 위치를 조절할 수 있습니다. */
    text-align: left; /* label의 텍스트를 왼쪽 정렬 */
    margin-left: 15px;
}

.text-box {
    display: inline-block;
    border: 1px solid #000;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;  /* 모서리 둥글게 */
    width: 75%; /* text-box의 너비를 설정. 이 값을 조절해 text-box의 시작점을 조절할 수 있습니다. */
    margin-right: 25px; /* text-box의 오른쪽 마진을 설정. 이 값을 조절해 text-box의 끝점을 조절할 수 있습니다. */
}

/* 내용 스타일*/
.contract {
    width: 90%; margin: 5px auto 80px;
    height: 500px;
    border-radius: 15px; background-color: white;
}


.contract #title {
    margin-top: 30px;
    margin-right: 94%;
}

/* 내용 텍스트 스타일 */
.contract .text {
    text-align: left; /* 내용을 왼쪽 정렬 */
    height: 450px;
    border: 0.5px solid black; margin-right:12px;
    white-space: pre-line; overflow-y: scroll; margin: 0 auto 20px;
    border-radius: 15px;  /* 모서리 둥글게 */
    padding-left: 10px; /* 왼쪽 패딩을 10px로 설정 */
}



.send-modal {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: fixed;   /* 위치를 고정 */
    top: 50%;          /* 상단에서 50% 떨어진 위치에 배치 */
    left: 50%;         /* 왼쪽에서 50% 떨어진 위치에 배치 */
    transform: translate(-50%, -50%); /* 위치를 정확하게 중앙으로 조정 */
    border:  1px solid #000;
    width: 30%; margin: 5px auto 80px;
    height: 340px;
    border-radius: 15px; background-color: white;
}


#result {
    text-align: center;
    width: 80%;
    height: 10%;
    font-weight: bold;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;  /* 모서리 둥글게 */
}

.result-text{
    text-align: left;
    border-radius: 15px;  /* 모서리를 둥글게 */
    width: 500px;  /* 넓이를 500px로 설정 */
    height: 150px;  /* 높이를 200px로 설정 */
    margin-bottom: 20px; /* 아래로 20px의 마진 추가 */
    padding: 10px;
}

.email-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -10px;
}

#email-input {
    margin-left: 8px; /* 레이블과의 간격 조정 */
    border-radius: 15px;  /* 모서리를 둥글게 */
    padding: 10px;
    width: 250px;
}

#send-btn {
    padding: 8px;
    width: 120px;
    color: #000;
    border: 3px solid #035E0C;
    border-radius: 15px;  /* 모서리를 둥글게 */
    background-color: #fff;  /* 버튼 색을 red로 설정 */
    margin-left: 12px;
}