    .find-id {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* 화면 전체 높이에 대해 가운데 정렬 */
        margin-top: -300px;
    }


    .col-lg-8 {
        text-align: center; /* 내용을 수평 가운데 정렬 */
        width: 100%; /* 폼의 너비를 화면 너비에 맞게 설정 */
    }



    .input-group {
        margin-top: 20px;
        margin-bottom: 1px; /* 라벨끼리 위아래 간격 조절 */
        display: flex;
        align-items: center;
    }

    .input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .username .input,
    .name .input,
    .password .input {
        width: 500px; /* 인풋 박스의 너비를 부모 요소에 맞게 설정 */
        box-sizing: border-box; /* 패딩과 테두리를 포함한 너비로 설정 */
    }


    .label {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 3px;
        text-align: center;
    }

    .btn-password,
    .btn-id{
        background:#0dd6a0;
        width: 150px;
        color:#fff;
        border:none;
        border-radius: 5px;
        position:relative;
        height:60px;
        font-size:18px;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
    }

    .btn-id:hover,
    .btn-password:hover{
        background:#fff;
        color:#0dd6a0;
    }
    .btn-id:before,.btn-id:after,
    .btn-password:before,.btn-password:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: #0dd6a0;
        transition:400ms ease all;
    }
    .btn-password:after,
    .btn-id:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
    }
    .btn-id:hover:before,.btn-id:hover:after,
    .btn-password:hover:before,.btn-password:hover:after{
        width:100%;
        transition:800ms ease all;
    }

    .user-banner {
        text-align: center; /* 텍스트를 가운데 정렬 */
    }

    .user-banner img {
        width: 100px; /* 이미지를 부모 요소에 맞게 너비 설정 */
        max-width: 100px; /* 이미지의 최대 너비 설정 */
        height: auto; /* 이미지의 높이 자동 조정 */
    }

    .user-banner p {
        font-size: 18px; /* 텍스트 크기 설정 */
        margin-top: 10px; /* 이미지와 텍스트 사이 간격 조정 */
    }

    .banner {
        margin-top: 50px;
        margin-left: -10px;
        font-weight: bold;
    }

    hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        width: 50%;
    }


    .modal-group {
        margin-left: 750px;
        margin-top: 20px;
        text-align: left;
        font-size: 12px;
    }

    /* 체크된 상태의 체크박스를 초록색으로 스타일링 */
    input[type="checkbox"]:checked + label::before {
        background-color: green !important; /* !important 키워드를 사용하여 우선순위 설정 */
        border-color: green !important;
    }

    .modal-body {
        max-height: 300px; /* 스크롤바가 나타날 최대 높이 */
        overflow-y: auto; /* 세로 스크롤바 표시 */
    }