.btn-email {
    padding: 10px 16px; /* 버튼의 길이 조정 */
    background-color: #0CC291;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* 버튼 위쪽 간격 조정 */
}

.btn-email:hover {
    background-color: #0dd6a0;
}


.address-input,
.detail-address-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 248px; /* 원하는 너비로 조정 */
}

.postcode-input {
    width: 364px; /* 반응형으로 조정 가능한 너비 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 10px; /* 아래 여백 추가 */
}


.email-input,
.sendEmail-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 364px; /* 원하는 너비로 조정 */
}

.confirmEmail-input,
.authCode-input {
    width: 364px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 10px; /* 아래 여백 추가 */
}

.input-group {
    margin-top: 20px;
    margin-bottom: 1px; /* 라벨끼리 위아래 간격 조절 */
    display: flex;
    align-items: center;
}

.username,
.name,
.password,
.phone,
.form-container {
    margin-bottom: 10px; /* 아래 여백 추가 */
    width: 100%; /* 모든 입력 필드의 너비를 컨테이너에 맞게 자동 조절 */
}

.label {
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3px;
}

.input {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}


.btn-modify {
    padding: 10px 16px; /* 버튼의 길이 조정 */
    background-color: #0CC291;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* 버튼 위쪽 간격 조정 */
}

.btn-modify:hover {
    background-color: #0dd6a0;
}

.btn-mo {
    padding: 10px 16px; /* 버튼의 길이 조정 */
    background-color: #0CC291;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* 버튼 위쪽 간격 조정 */
    display: block; /* 가운데 정렬을 위해 블록 레벨 요소로 지정 */
    margin: 0 auto; /* 수평 가운데 정렬 */
}

.btn-mo:hover {
    background-color: #0dd6a0;
}