<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>

  <th:block th:include="fragments/common"></th:block>
  <link th:href="@{/css/manager-report.css}" rel="stylesheet">
  <script th:src="@{/js/manager-report.js}"></script>
  <link th:href="@{/css/mypage.css}" rel="stylesheet">


</head>
<body>


<!-- 헤더 부분 -->
<div th:insert="~{/fragments/header.html}"></div>

<!-- 배너 부분 -->
<section class="banner2-area">
  <div class="container">
    <div class="row fullscreen align-items-center">
      <div class="col-lg-10">
        <div class="banner2-content">
          <h1 style="font-weight: bold; margin-left: 94px;">Manager</h1>
          <br>
          <p style="color:white; margin-left: 100px;">레벨업의 매니저 공간입니다.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container" style="border-top: 1px solid lightgray; margin-top: 15px;">
  <div class="title-box">
    <button onclick="location.href='/manager/manager-find-select'">펀딩조회</button>
    <button onclick="location.href=''">펀딩심사</button>
    <button onclick="location.href='/manager/manager-report'" style="background-color: #0CC291;">신고처리</button>
    <button onclick="location.href='/manager/manager-notice'">공지사항</button>
    <button onclick="location.href='/manager/manager-inquiry'">문의사항</button>
    <button onclick="location.href='/manager/manager-calculate'">정산</button>
  </div>
  <div class="row">
    <table class="manager_table" border="0">
      <tr align="center" bgcolor="#0CC291">
        <td>신고 코드</td>
        <td>신고 제목</td>
        <td>신고 처리 여부</td>
        <td>신고 등록일</td>
      </tr>
      <tr align="center">
        <td>N-001</td>
        <td>욕설은 싫어요 신고!</td>
        <td>승인</td>
        <td>2023-01-01</td>
      </tr>
      <tr align="center">
        <td>N-002</td>
        <td>이거 ㅇㄷㅈ 에서도 팔아요</td>
        <td>승인</td>
        <td>2023-03-04</td>
      </tr>
      <tr align="center">
        <td>N-003</td>
        <td>욕설은 싫어요</td>
        <td>승인</td>
        <td>2023-03-04</td>
      </tr>
      <tr align="center">
        <td>N-004</td>
        <td>욕설은 싫어요 신고!</td>
        <td>승인</td>
        <td>2023-03-04</td>
      </tr>
      <tr align="center">
        <td>N-005</td>
        <td>욕설은 싫어요 신고! 신고~!~!~!</td>
        <td>승인</td>
        <td>2023-03-04</td>
      </tr>
      <tr align="center">
        <td>N-006</td>
        <td>상품이 못생겨서 싫어요,,,,</td>
        <td>반려</td>
        <td>2023-03-04</td>
      </tr>
      <tr align="center">
        <td>N-007</td>
        <td>욕설은 싫어요 신고! 신고!</td>
        <td>승인</td>
        <td>2023-03-04</td>
      </tr>
      <tr align="center">
        <td>N-008</td>
        <td>상품이 못생겨서 싫어요!!</td>
        <td>반려</td>
        <td>2023-03-04</td>
      </tr>
      <tr align="center">
        <td>N-009</td>
        <td>상품이 못생겨서 싫어요;;;;;;;;;</td>
        <td>반려</td>
        <td>2023-03-04</td>
      </tr>
      <tr align="center">
        <td>N-010</td>
        <td>욕설은 싫어요 신고! 신고! 신고!</td>
        <td>승인</td>
        <td>2023-03-04</td>
      </tr>
    </table>


    <div class="paging">
      <!-- Icon은 fontawesome에서 가져왔습니다. -->
      <i class="fa-solid fa-angles-left" id="first_page"></i>
      <i class="fa-solid fa-angle-left" id="prev_page"></i>
      <div class="pages">
        <span class="active">1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span>10</span>
      </div>
      <i class="fa-solid fa-angle-right" id="next_page"></i>
      <i class="fa-solid fa-angles-right" id="last_page"></i>
    </div>

    <!-- 신고서 내용을 보여줄 모달창 -->
    <div id="report-modal" class="modal">
      <div class="modal-content">
        <h4>신고서 상세</h4>
        <div class="report-content">
          <div class="report-header">
            <label style="margin-top: 30px; margin-left: 10px;">신고번호</label>
            <span class="text-box" style="width: 250px;">R-001</span>
            <label style="margin-top: 30px; margin-right: 20px;">펀딩번호</label>
            <span class="text-box" style="width: 250px;">F-001</span>
            <label style="margin-top: 30px;">신고아이디</label>
            <span class="text-box">user01</span>
            <label style="margin-top: 30px;">제목</label>
            <span class="text-box" id="text-block">상품이 못생겨서 싫어요</span><br>
            <label style="margin-top: 30px;">작성날짜</label>
            <span class="text-box">2023-05-09</span>
          </div>
          <div class="contents">
            <div class="contract">
              <label id="title">내용</label>
              <div class="text">
                용이 너무 못생겨서 신고합니다.
                정말 못생겼어요,,,
                비속어 비속어
                속이 빈 강정 같다고요,,
                이런 후원 선물이라니 실망입니다.
                지렁이 지렁이 지렁이 지렁이
                ㅎ
                ㅎ
                ㅎ
                ㅎ
                ㅎ
                ㅎ
              </div>
            </div>
          </div>
          <div class="modal-button">
            <strong>신고 처리 상태</strong>
            <label><input type="radio" name="report" value="A"> 승인</label>
            <label><input type="radio" name="report" value="R"> 반려</label>
            <button id="cancel-btn">취소</button>
            <button id="approval-btn">처리</button>

          </div>


          <!-- 모달 창 뜨도록 js 변경 예정 -->


          <div class="send-modal">
            <span id="close-btn2">&times;</span>  <!-- x를 나타내는 문자유니코드 U+00D7 -->
            <p id="result">신고 처리 결과</p>
            <div class="send">
                                    <textarea class="result-text">김자바님이 작성하신 정보가 신고 승인되어 삭제됨을 통보드립니다.
해당 신고와 관련된 문의는 레벨업 문의하기로 문의주세요.
감사합니다.
                                    </textarea>
              <div class="email-container">
                <label for="email-input" style="font-weight: bold; margin-left: 20px; margin-right: 20px;">전송 메일</label>
                <input id="email-input" type="text" placeholder="이메일을 입력하세요">
                <button id="send-btn">발송</button>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Features Area -->
<section class="features-area">
  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</section>
</div>

<div th:insert="~{/fragments/footer.html}"></div>

</body>
</html>