<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link th:href="@{/css/mypage.css}" rel="stylesheet">
    <link th:href="@{/css/user-show.css}" rel="stylesheet">

    <th:block th:include="fragments/common"></th:block>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</head>

<body>
<div th:insert="~{/fragments/header.html}"></div>

<!-- Banner -->
<section class="banner2-area">
    <div class="container">
        <div class="row fullscreen align-items-center">
            <div class="col-lg-10">
                <div class="banner2-content">
                    <h1 style="font-weight: bold; margin-left: 94px;">마이페이지</h1>
                    <br>
                    <p style="color:white; margin-left: 100px;">마이페이지</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container" style="border-top: 1px solid lightgray; margin-top: 15px;">
    <br>
    <div class="row">
        <div class="col-lg-3">

            <div th:insert="~{/fragments/sidebar.html}"></div>

        </div>

        <!-- User Info Form -->
        <div class="col-lg-8">
            <a style="margin-bottom: 20px; font-size: 18px;">내 정보 &gt; <b>내 정보 조회</b></a>
            <div class="col-lg-1.5 col-md-1.5 col-sm-1.5" style="margin-top: 20px; display: flex; flex-direction: column; align-items: center;">
                <!-- Username -->
                <div class="username">
                    <div class="label">아이디</div>
                    <div class="input">
                        <span th:text="${user.userId}"></span>
                    </div>
                </div>
                <!-- Name -->
                <div class="name">
                    <div class="label" style="margin-right: 15px">이름</div>
                    <div class="input">
                        <span th:text="${user.userName}"></span>
                    </div>
                </div>
                <!-- Password -->
                <div class="password">
                    <div class="label" style="margin-right: -10px">비밀번호</div>
                    <div class="input">
                <span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                    </div>
                </div>
                <!-- Phone Number -->
                <div class="phone">
                    <div class="label" style="margin-right: -30px">휴대폰 번호</div>
                    <div class="input">
                        <span th:text="${user.userPhone}"></span>
                    </div>
                </div>
                <!-- Address -->
                <div class="address">
                    <div class="label" style="margin-right: 20px">주소</div>
                    <div class="input">
                        <span th:text="${user.userAdd}"></span>
                    </div>
                </div>
                <div class="email">
                    <div class="label" >이메일</div>
                    <div class="input">
                        <span th:text="${user.userEmail}"></span>
                    </div>
                </div>

                <div class="role">
                    <div class="label" style="margin-right: -10px">회원권한</div>
                    <div class="input">
                        <span th:text="${user.getRole()}"></span>
                    </div>
                </div>
                <!-- 수정 Button -->
                <button onclick="location.href='/content/user/user-update'" class="btn-mo" style="margin-top: 50px; margin-bottom: 100px; display: block; margin-left: auto; margin-right: auto;">
                    수정하기
                </button>

            </div>
        </div>
    </div>
</div>

<div th:insert="~{/fragments/footer.html}"></div>


</body>
</html>